# Data Analytics with Python

Importing pandas and Numpy modules

In [2]:
import numpy as np
import pandas as pd

In [3]:
a = [10,54,34,67,81,62,33,84,5]

In [4]:
b = pd.Series(a) #Converting a list to a series
b

0    10
1    54
2    34
3    67
4    81
5    62
6    33
7    84
8     5
dtype: int64

In [5]:
b[5] # Accessing an element from the series using the index

62

In [6]:
b.loc[5] #Using .loc attribute

62

In [7]:
b.iloc[5] #using .iloc attribute

62

In [8]:
c = pd.Series([2,3,1,4])
c

0    2
1    3
2    1
3    4
dtype: int64

In [9]:
c[0]

2

In [10]:
c[3]

4

In [11]:
z = np.random.randint(0,10,2)
z #here the 1st Arg is lower limit and 2nd Arg is the upper limit and the 3rd one is the number of randam numbers to generated

array([5, 3])

In [12]:
d = pd.Series(z) # Creating a series using numpy

In [13]:
d

0    5
1    3
dtype: int32

In [14]:
len(d)

2

In [15]:
np.random.randint(1,100,3)

array([42, 86, 89])

In [16]:
e = pd.Series(np.random.randint(1,100,10))
print(e)
for i,j in e.iteritems():
    print (i,j)

0    99
1    13
2     8
3    49
4    16
5    21
6    25
7     5
8     8
9     4
dtype: int32
0 99
1 13
2 8
3 49
4 16
5 21
6 25
7 5
8 8
9 4

In [17]:
%%timeit -n 100 # Calculating the time needed to execute this block
e = pd.Series(np.random.randint(1,100,100))
for i,j in e.iteritems():
    e.loc[i] = j+2

100 loops, best of 3: 6.51 ms per loop

In [18]:
%%timeit -n 100 # Calculating the time needed to execute this block
e = pd.Series(np.random.randint(1,100,100))
e += 2

100 loops, best of 3: 170 Âµs per loop

In [19]:
c

0    2
1    3
2    1
3    4
dtype: int64

In [20]:
c.loc['apple'] = 1 # Adding an Element to a series

In [21]:
c

0        2
1        3
2        1
3        4
apple    1
dtype: int64

In [22]:
c.loc[0] = 133 # assigning a new value to an index in the series
c

0        133
1          3
2          1
3          4
apple      1
dtype: int64

It is possible to add a new value to the series the value can be a sequence also

In [23]:
c.loc['water'] = [1,2,3,41]
c

0                  133
1                    3
2                    1
3                    4
apple                1
water    [1, 2, 3, 41]
dtype: object

In [24]:
c['air'] = 'oxygen'
c

0                  133
1                    3
2                    1
3                    4
apple                1
water    [1, 2, 3, 41]
air             oxygen
dtype: object

In [25]:
f = pd.Series([1,[2,3,4],[123,456],89])
f

0             1
1     [2, 3, 4]
2    [123, 456]
3            89
dtype: object

In [26]:
original_sports = pd.Series({'Kabbadi':'India','Cricket':'Srilanka','Swimming':'South Africa','Polo':'Bangladesh'})
original_sports

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
dtype: object

In [27]:
cricket_loving_countries = pd.Series(['England','West Indies','Kenya','Afghan','Bangladesh','Pakistan'], index = ['Cricket','Cricket','Cricket','Cricket','Cricket','Cricket',])
cricket_loving_countries

Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [28]:
all_countires = original_sports.append(cricket_loving_countries)
all_countires

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

while appending one series to another it can be seen that if there are common element in both the series but with different indices then the resultant series will have both the values and both the indices.
In the above exapmle bangladesh is common in both the series and it has polo as it's index in the first one while it has cricket as it's index in the second so the resultant will have bangladesh as the value for both the index cricket and polo

In [29]:
all_countires.loc['Cricket']

Cricket       Srilanka
Cricket        England
Cricket    West Indies
Cricket          Kenya
Cricket         Afghan
Cricket     Bangladesh
Cricket       Pakistan
dtype: object

In [30]:
all_countires

Cricket         Srilanka
Kabbadi            India
Polo          Bangladesh
Swimming    South Africa
Cricket          England
Cricket      West Indies
Cricket            Kenya
Cricket           Afghan
Cricket       Bangladesh
Cricket         Pakistan
dtype: object

In [31]:
person1 = pd.Series({'Name': 'Harvey Specter',
                    'Age': 36,'Employed': ' Pearson Specter'})
person1

Age                       36
Employed     Pearson Specter
Name          Harvey Specter
dtype: object

In [32]:
person2 = pd.Series({'Name': 'Jassica Pearson',
                    'Age': 40,'Employed': 'Pearson Specter'})
person2

Age                      40
Employed    Pearson Specter
Name        Jassica Pearson
dtype: object

In [33]:
person3 = pd.Series({'Name': 'Mike Ross',
                    'Age': 27,'Employed': 'Clinic'})
person3

Age                27
Employed       Clinic
Name        Mike Ross
dtype: object

In [34]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

On using the loc attribute on a Index value that is unique a series is returned with the column names from DataFrame as the index of series

In [35]:
df1.loc['C2']

Age                27
Employed       Clinic
Name        Mike Ross
Name: C2, dtype: object

In [36]:
type(df1.loc['C2'])

pandas.core.series.Series

The index value need not be unique and in case there are multiple series with the same index name then on using the loc attribute a DataFrame is returned as shown below

In [37]:
df1.loc['C1']

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson

In [38]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

It is possible to have all the elements from a column be printed at once using the index operator where the name of the column is given inside the big brackets, in all these cases the correspondiing index is also printed along with the column name.
The return type will have column name along with the datatype of the value.

In [39]:
df1['Age']

C1    36
C1    40
C2    27
Name: Age, dtype: int64

In [40]:
df1['Employed']

C1     Pearson Specter
C1     Pearson Specter
C2              Clinic
Name: Employed, dtype: object

df1.loc['Age']
'''The .loc attribute takes the index as the value inside square bracket and if the name of the column is given
it throw a key error'''

It is possible to find out a value in a paticular cell of a dataframe by using the loc operator along with the name of the column, if the index and the column are unique then a single value in the cell is returned and if the index value is not unique then all the values that maps to indices cross Column name will be printed as output and in this case the output is a series

In [41]:
df1.loc['C2','Age']

27

In [42]:
df1.loc['C1','Age']

C1    36
C1    40
Name: Age, dtype: int64

In case there is no index provided while creating a data frame then the index will start from 0

In [43]:
df2 = pd.DataFrame([person1,person2,person3])
df2

   Age          Employed             Name
0   36   Pearson Specter   Harvey Specter
1   40   Pearson Specter  Jassica Pearson
2   27            Clinic        Mike Ross

The indexig operator [] takes the name of column as the argument and returns all the rows under that column as the output

In [44]:
df2['Employed']

0     Pearson Specter
1     Pearson Specter
2              Clinic
Name: Employed, dtype: object

The Transpose of a DataFrame is obtained using the .T operator on the dataframe.
After doing the Transpose column names and index are interchanged [i.e. all column names are now row names and all row names are column names]

In [45]:
df2.T

                         0                1          2
Age                     36               40         27
Employed   Pearson Specter  Pearson Specter     Clinic
Name        Harvey Specter  Jassica Pearson  Mike Ross

In [46]:
df2

   Age          Employed             Name
0   36   Pearson Specter   Harvey Specter
1   40   Pearson Specter  Jassica Pearson
2   27            Clinic        Mike Ross

The transpose of a Dataframe will return a view of the transposed df and will not change the origianl dataframe

Sub setting a df from the original DF using the .loc operator

If it is desird to a subset df with multiple with only selected rows of df then use two lists inside the .loc[], where the 1st list stands for rows of df and 2nd list for the name of the columns

In [47]:
df2.loc[[1,2],['Age','Name']]

   Age             Name
1   40  Jassica Pearson
2   27        Mike Ross

In [48]:
df2.loc[[0],['Age','Name']]

   Age            Name
0   36  Harvey Specter

In [49]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

# Chaining with .loc but the column name is given as a separate index value

Chaining also does the same what a .loc[index, columnname] would return, but the difference here is that the chaining returns a copy of the dataFrame where as in case of .loc[index, columnname] returns a view of the same data frame.

In case just a view of the Data Frame is what is intended the it is better to use .loc[index, columnname] than chaining, coz chaining takes a longer time to execute.

In [50]:
df1.loc['C1']['Employed']

C1     Pearson Specter
C1     Pearson Specter
Name: Employed, dtype: object

Creating a dataframe by Slicing the rows and explicitly mentioned the name of the column names in a list if more than one column name is required in the view.

In [51]:
df1.loc[: ,['Name','Age']]

               Name  Age
C1   Harvey Specter   36
C1  Jassica Pearson   40
C2        Mike Ross   27

loc operator takes two arguments 

1st : index name or row name 

2nd : list of column names

## Dropping rows from the DataFrame using drop

Here the drop function will not change the original Dataframe instead a copy of the df1 has been created and in that copy the row with the index C2 is dropped

In [52]:
df1.drop('C2')

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson

In [53]:
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

Drop method has two optional parameters, the first one is "inplace" and by default it's value is "false" and if "inplace" is set to true the it will update the df and not the copy of the dataframe.

The second paraeter is "axis", by default it value is zero indicating a row axis.
If it is desiderd to drop a column then axis has to be made 1 along with the name of the column name to be dropped.

In [54]:
df1.drop('C1',inplace = True)

In [55]:
df1

    Age Employed       Name
C2   27   Clinic  Mike Ross

In [56]:
df1.drop('Employed',axis = 1)

    Age       Name
C2   27  Mike Ross

In [57]:
df1 ['Location'] = 'New York'

In [58]:
df1

    Age Employed       Name  Location
C2   27   Clinic  Mike Ross  New York

In [59]:
df1 = pd.DataFrame([person1,person2,person3], index = ['C1','C1','C2'])
df1

    Age          Employed             Name
C1   36   Pearson Specter   Harvey Specter
C1   40   Pearson Specter  Jassica Pearson
C2   27            Clinic        Mike Ross

In [60]:
df1 ['Location'] = 'New York'
df1

    Age          Employed             Name  Location
C1   36   Pearson Specter   Harvey Specter  New York
C1   40   Pearson Specter  Jassica Pearson  New York
C2   27            Clinic        Mike Ross  New York

### Dataframe Indexing and loading

In [61]:
age = df1['Age'] 
age

C1    36
C1    40
C2    27
Name: Age, dtype: int64

### Broadcasting

In [62]:
age += 2 # This concept is called broadcasting
df1

    Age          Employed             Name  Location
C1   38   Pearson Specter   Harvey Specter  New York
C1   42   Pearson Specter  Jassica Pearson  New York
C2   29            Clinic        Mike Ross  New York

During broadcasting the original dataframe is changed and not a copy of it, one needs to be careful while performing broadcasting on the dataframe

In [63]:
df3 = pd.read_csv('olympics.csv')
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,â Summer,01 !,02 !,03 !,Total,â Winter,01 !,02 !,03 !,Total,â Games,01 !,02 !,03 !,Combined total
1,AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [64]:
df4 = pd.read_csv('olympics.csv', index_col = 0, skiprows = 1)
df4.head()

,â Summer,01 !,02 !,03 !,Total,â Winter,01 !.1,02 !.1,03 !.1,Total.1,â Games,01 !.2,02 !.2,03 !.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [65]:
df4.columns

Index(['â Summer', '01 !', '02 !', '03 !', 'Total', 'â Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', 'â Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [66]:
df4.index

Index(['AfghanistanÂ (AFG)', 'AlgeriaÂ (ALG)', 'ArgentinaÂ (ARG)',
       'ArmeniaÂ (ARM)', 'AustralasiaÂ (ANZ) [ANZ]', 'AustraliaÂ (AUS) [AUS] [Z]',
       'AustriaÂ (AUT)', 'AzerbaijanÂ (AZE)', 'BahamasÂ (BAH)', 'BahrainÂ (BRN)',
       ...
       'UzbekistanÂ (UZB)', 'VenezuelaÂ (VEN)', 'VietnamÂ (VIE)',
       'Virgin IslandsÂ (ISV)', 'YugoslaviaÂ (YUG) [YUG]',
       'Independent Olympic ParticipantsÂ (IOP) [IOP]', 'ZambiaÂ (ZAM) [ZAM]',
       'ZimbabweÂ (ZIM) [ZIM]', 'Mixed teamÂ (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)

.cloumns attribute gives the names of all the columns in the datatframe

.index attribute gives the names of all the index or row name in the datatframe

In [67]:
for col in df4.columns:
    print(col)
    if col[0] == 'â':
        print('the length is ',len(col[0]))

â Summer
the length is  1
01 !
02 !
03 !
Total
â Winter
the length is  1
01 !.1
02 !.1
03 !.1
Total.1
â Games
the length is  1
01 !.2
02 !.2
03 !.2
Combined total

In [68]:
for col in df4.columns:
    if col[:2] == '01':
        df4.rename(columns = {col: 'Gold'+col[4:]}, inplace = True)
    elif col[:2] == '02':
        df4.rename(columns = {col: 'Silver'+col[4:]}, inplace = True)
    elif col[:2] == '03':
        df4.rename(columns = {col: 'Bronze'+col[4:]}, inplace = True)
    elif col[:1] == 'â':
        df4.rename(columns = {col: '#'+col[2:]}, inplace = True)

df4.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Boolena Masking: Boolean masking is the heart of fast and efficient querying in numpy.
A boolena mask is an array which can be one dimensional like a series or two dimensional like a Dateframe,where each of the value in the arrary are True or False, this array is overlaid on the data structure that we are querying.

### Querying a Dataframe

In [69]:
df4['Gold'] > 0

AfghanistanÂ (AFG)                               False
AlgeriaÂ (ALG)                                    True
ArgentinaÂ (ARG)                                  True
ArmeniaÂ (ARM)                                    True
AustralasiaÂ (ANZ) [ANZ]                          True
AustraliaÂ (AUS) [AUS] [Z]                        True
AustriaÂ (AUT)                                    True
AzerbaijanÂ (AZE)                                 True
BahamasÂ (BAH)                                    True
BahrainÂ (BRN)                                   False
BarbadosÂ (BAR) [BAR]                            False
BelarusÂ (BLR)                                    True
BelgiumÂ (BEL)                                    True
BermudaÂ (BER)                                   False
BohemiaÂ (BOH) [BOH] [Z]                         False
BotswanaÂ (BOT)                                  False
BrazilÂ (BRA)                                     True
British West IndiesÂ (BWI) [BWI]                 False
BulgariaÂ (BUL) [H]                               True
BurundiÂ (BDI)                                    True
CameroonÂ (CMR)                                   True
CanadaÂ (CAN)                                     True
ChileÂ (CHI) [I]                                  True
ChinaÂ (CHN) [CHN]                                True
ColombiaÂ (COL)                                   True
Costa RicaÂ (CRC)                                 True
Ivory CoastÂ (CIV) [CIV]                         False
CroatiaÂ (CRO)                                    True
CubaÂ (CUB) [Z]                                   True
CyprusÂ (CYP)                                    False
                                                ...
Sri LankaÂ (SRI) [SRI]                           False
SudanÂ (SUD)                                     False
SurinameÂ (SUR) [E]                               True
SwedenÂ (SWE) [Z]                                 True
SwitzerlandÂ (SUI)                                True
SyriaÂ (SYR)                                      True
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                True
TajikistanÂ (TJK)                                False
TanzaniaÂ (TAN) [TAN]                            False
ThailandÂ (THA)                                   True
TogoÂ (TOG)                                      False
TongaÂ (TGA)                                     False
Trinidad and TobagoÂ (TRI) [TRI]                  True
TunisiaÂ (TUN)                                    True
TurkeyÂ (TUR)                                     True
UgandaÂ (UGA)                                     True
UkraineÂ (UKR)                                    True
United Arab EmiratesÂ (UAE)                       True
United StatesÂ (USA) [P] [Q] [R] [Z]              True
UruguayÂ (URU)                                    True
UzbekistanÂ (UZB)                                 True
VenezuelaÂ (VEN)                                  True
VietnamÂ (VIE)                                   False
Virgin IslandsÂ (ISV)                            False
YugoslaviaÂ (YUG) [YUG]                           True
Independent Olympic ParticipantsÂ (IOP) [IOP]    False
ZambiaÂ (ZAM) [ZAM]                              False
ZimbabweÂ (ZIM) [ZIM]                             True
Mixed teamÂ (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [70]:
only_gold = df4.where(df4['Gold'] > 0)

In [71]:
only_gold.head(20)

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
AustriaÂ (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
AzerbaijanÂ (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
BahamasÂ (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
BahrainÂ (BRN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BarbadosÂ (BAR) [BAR],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BelarusÂ (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
BelgiumÂ (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
BermudaÂ (BER),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BohemiaÂ (BOH) [BOH] [Z],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BotswanaÂ (BOT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BrazilÂ (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
British West IndiesÂ (BWI) [BWI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BulgariaÂ (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
BurundiÂ (BDI),5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0

Only those cells which have a number of gold medal's greater than 0 will have a value in them and the rest of them will have Nan.

Further these Nan cells can be dropped from the DF using .dropna

It is to be noted that for any computation purpose the cell with Nan will not be considered

In [72]:
only_gold['Gold'].count()

100

In [73]:
df4['Gold'].count()

147

In [74]:
only_gold = only_gold.dropna()

In [75]:
only_gold.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [76]:
'''It is not madatory to make use .where function for doing the boolean masking,
instead the same can be achieved in the below way also.'''
only_gold1 = df4[df4['Gold'] > 0]
only_gold1

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
BahamasÂ (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
BurundiÂ (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
CameroonÂ (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
ChileÂ (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
ColombiaÂ (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa RicaÂ (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Czech RepublicÂ (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
CzechoslovakiaÂ (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
DenmarkÂ (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Dominican RepublicÂ (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
EcuadorÂ (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
EgyptÂ (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
EstoniaÂ (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
EthiopiaÂ (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
FinlandÂ (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RussiaÂ (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian EmpireÂ (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet UnionÂ (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified TeamÂ (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
SerbiaÂ (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and MontenegroÂ (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
SlovakiaÂ (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
SloveniaÂ (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South AfricaÂ (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
SpainÂ (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
SurinameÂ (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
SyriaÂ (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Trinidad and TobagoÂ (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
TunisiaÂ (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
UgandaÂ (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab EmiratesÂ (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
UruguayÂ (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
UzbekistanÂ (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
VenezuelaÂ (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [77]:
only_silver = df4[df4['Silver'] > 0]
only_silver

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
BahamasÂ (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
BohemiaÂ (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
BotswanaÂ (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
CameroonÂ (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
ChileÂ (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
ColombiaÂ (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa RicaÂ (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory CoastÂ (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
CyprusÂ (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech RepublicÂ (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
CzechoslovakiaÂ (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
DenmarkÂ (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Dominican RepublicÂ (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
EcuadorÂ (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
EgyptÂ (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SloveniaÂ (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South AfricaÂ (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
SpainÂ (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri LankaÂ (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
SudanÂ (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
SyriaÂ (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
TajikistanÂ (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
TanzaniaÂ (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
TongaÂ (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and TobagoÂ (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
TunisiaÂ (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
UgandaÂ (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
UruguayÂ (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
UzbekistanÂ (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
VenezuelaÂ (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
VietnamÂ (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin IslandsÂ (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic ParticipantsÂ (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
ZambiaÂ (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [78]:
only_silver1 = df4.where(df4['Silver'] > 0)
only_silver1

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
AustriaÂ (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
AzerbaijanÂ (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
BahamasÂ (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
BahrainÂ (BRN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BarbadosÂ (BAR) [BAR],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BelarusÂ (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
BelgiumÂ (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
BermudaÂ (BER),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BohemiaÂ (BOH) [BOH] [Z],3.0,0.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,3.0,4.0
BotswanaÂ (BOT),9.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,0.0,1.0
BrazilÂ (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
British West IndiesÂ (BWI) [BWI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BulgariaÂ (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
BurundiÂ (BDI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CameroonÂ (CMR),13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0
CanadaÂ (CAN),25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0
ChileÂ (CHI) [I],22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0
ChinaÂ (CHN) [CHN],9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0
ColombiaÂ (COL),18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0
Costa RicaÂ (CRC),14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0
Ivory CoastÂ (CIV) [CIV],12.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,0.0,1.0
CroatiaÂ (CRO),6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0
CubaÂ (CUB) [Z],19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0
CyprusÂ (CYP),9.0,0.0,1.0,0.0,1.0,10.0,0.0,0.0,0.0,0.0,19.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri LankaÂ (SRI) [SRI],16.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,2.0,0.0,2.0
SudanÂ (SUD),11.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,1.0,0.0,1.0
SurinameÂ (SUR) [E],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SwedenÂ (SWE) [Z],26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0
SwitzerlandÂ (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0
SyriaÂ (SYR),12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0
TajikistanÂ (TJK),5.0,0.0,1.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,2.0,3.0
TanzaniaÂ (TAN) [TAN],12.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,2.0,0.0,2.0
ThailandÂ (THA),15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0
TogoÂ (TOG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TongaÂ (TGA),8.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,0.0,1.0
Trinidad and TobagoÂ (TRI) [TRI],16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0
TunisiaÂ (TUN),13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0
TurkeyÂ (TUR),21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0
UgandaÂ (UGA),14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0
UkraineÂ (UKR),5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0
United Arab EmiratesÂ (UAE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United StatesÂ (USA) [P] [Q] [R] [Z],26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0
UruguayÂ (URU),20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0
UzbekistanÂ (UZB),5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0
VenezuelaÂ (VEN),17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0
VietnamÂ (VIE),14.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,2.0,0.0,2.0
Virgin IslandsÂ (ISV),11.0,0.0,1.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,18.0,0.0,1.0,0.0,1.0
YugoslaviaÂ (YUG) [YUG],16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0
Independent Olympic ParticipantsÂ (IOP) [IOP],1.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,3.0
ZambiaÂ (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0
ZimbabweÂ (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed teamÂ (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

There is difference between using .where operator and df[df[]].

In case of .where() function the returned dataframe has Nan values in cells which donesn't fulfill the given conditon and these rows can be removed from the dataframe by using .dropna(), where as in case of df[df['Column_name'] condition], the returned dataframe doen't have Nan values and it has only those rows which satisfied the given condition.

### Using | and & operators on Dataframes

In [79]:
len(df4[(df4['Gold'] > 0 ) | df4['Gold.1'] > 0])

101

In [80]:
df4[(df4['Gold.1'] > 0) & (df4['Gold'] == 0)]

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

Here we get all the index name by using .index on df4 and once all the index name is obtained it is assigned to a new column name called "country"

In [81]:
df4['Country'] = df4.index
df4.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AfghanistanÂ (AFG)
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,AlgeriaÂ (ALG)
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ArgentinaÂ (ARG)
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ArmeniaÂ (ARM)
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,AustralasiaÂ (ANZ) [ANZ]

#### Set_index method

In [82]:
df4 = df4.set_index('Gold')

In [83]:
df4.head()

,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,AfghanistanÂ (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,AlgeriaÂ (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,ArgentinaÂ (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,ArmeniaÂ (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,AustralasiaÂ (ANZ) [ANZ]

### Resetting the index
For a dataframe the index can be reset by using the .reset_index method

In [84]:
df4 = df4.reset_index()
df4.head()

,Gold,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,AfghanistanÂ (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,AlgeriaÂ (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,ArgentinaÂ (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,ArmeniaÂ (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,AustralasiaÂ (ANZ) [ANZ]

### Multi level indexing
Pandas allows multilevel indexing, this is similar to composite keys in a relational databasae system.

To create a multilevel index we simply call the set index and provide a list of column names that we are interested in.

Pandas will search through these in order finding the distinct data and forming composite indices.

In [85]:
df5 = pd.read_csv('census.csv')
df5.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

#### .unique() operator on the column of the data frame.
.unique() operator gives all the unique values in that column of dataframe

In [86]:
df5['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [87]:
df5 = df5[df5['SUMLEV'] == 50]
df5.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [88]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']

In [89]:
columns_to_keep

['STNAME',
 'CTYNAME',
 'BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015']

In [90]:
df5 = df5[columns_to_keep]
df5.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [91]:
df5 = df5.set_index(['STNAME','CTYNAME'])
df5.tail(30)

                              BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME    CTYNAME
Wisconsin Washburn County             36         161         155         152
          Washington County          350        1348        1320        1296
          Waukesha County            960        3805        3802        3757
          Waupaca County             131         492         537         518
          Waushara County             66         221         236         229
          Winnebago County           503        1879        1925        1899
          Wood County                249         895         825         859
Wyoming   Albany County              104         413         443         410
          Big Horn County             24         150         132         136
          Campbell County            208         722         766         732
          Carbon County               46         200         188         199
          Converse County             57         165         194         177
          Crook County                35          82         101          87
          Fremont County             163         615         612         571
          Goshen County               31         118         134         145
          Hot Springs County          15          55          55          48
          Johnson County              29         102          90         101
          Laramie County             358        1291        1221        1250
          Lincoln County              86         241         247         230
          Natrona County             258        1029        1043        1141
          Niobrara County              6          18          18          27
          Park County                 73         299         327         301
          Platte County               13          82          93          94
          Sheridan County             87         343         332         306
          Sublette County             34         134         138         132
          Sweetwater County          167         640         595         657
          Teton County                76         259         230         261
          Uinta County                73         324         311         316
          Washakie County             26         108          90          95
          Weston County               26          81          74          93

                              BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME    CTYNAME
Wisconsin Washburn County            154         152            15930
          Washington County         1363        1336           131967
          Waukesha County           3813        3791           390076
          Waupaca County             535         524            52422
          Waushara County            222         230            24506
          Winnebago County          1815        1847           167059
          Wood County                761         792            74807
Wyoming   Albany County              414         428            36428
          Big Horn County            153         144            11672
          Campbell County            775         737            46244
          Carbon County              215         224            15837
          Converse County            206         206            13826
          Crook County               106         105             7114
          Fremont County             605         583            40222
          Goshen County              157         154            13408
          Hot Springs County          48          49             4813
          Johnson County              83          92             8581
          Laramie County            1273        1263            92271
          Lincoln County             240         248            18091
          Natrona County            1202        1194            75472
          Niobrara County             27          25             2492
          Park County                323         313            28259
          Platte County               81          90             8678
          Sheridan County            361         338            29146
          Sublette County            122         128            10244
          Sweetwater County          629         620            43593
          Teton County               249         269            21297
          Uinta County               316         316            21102
          Washakie County             96          90             8545
          Weston County               77          79             7181

                              POPESTIMATE2011  POPESTIMATE2012  \
STNAME    CTYNAME
Wisconsin Washburn County               15784            15831
          Washington County            132225           132649
          Waukesha County              390808           392710
          Waupaca County                52342            52035
          Waushara County               24581            24484
          Winnebago County             167630           168717
          Wood County                   74647            74384
Wyoming   Albany County                 36908            37396
          Big Horn County               11745            11785
          Campbell County               46600            47881
          Carbon County                 15817            15678
          Converse County               13728            14025
          Crook County                   7129             7148
          Fremont County                40591            41129
          Goshen County                 13597            13666
          Hot Springs County             4818             4846
          Johnson County                 8636             8610
          Laramie County                92663            94894
          Lincoln County                18022            17943
          Natrona County                76420            78699
          Niobrara County                2485             2475
          Park County                   28473            28863
          Platte County                  8701             8732
          Sheridan County               29275            29594
          Sublette County               10142            10418
          Sweetwater County             44041            45104
          Teton County                  21482            21697
          Uinta County                  20912            20989
          Washakie County                8469             8443
          Weston County                  7114             7065

                              POPESTIMATE2013  POPESTIMATE2014  \
STNAME    CTYNAME
Wisconsin Washburn County               15657            15678
          Washington County            132758           133301
          Waukesha County              394025           395335
          Waupaca County                52213            52088
          Waushara County               24332            24173
          Winnebago County             169486           169639
          Wood County                   73996            73597
Wyoming   Albany County                 37647            37918
          Big Horn County               12002            11919
          Campbell County               48121            48243
          Carbon County                 15787            15856
          Converse County               14343            14172
          Crook County                   7160             7264
          Fremont County                41024            40717
          Goshen County                 13565            13509
          Hot Springs County             4846             4793
          Johnson County                 8619             8552
          Laramie County                96006            96469
          Lincoln County                18328            18564
          Natrona County                81156            81603
          Niobrara County                2548             2530
          Park County                   29237            29126
          Platte County                  8728             8776
          Sheridan County               29794            30020
          Sublette County               10086            10039
          Sweetwater County             45162            44925
          Teton County                  22347            22905
          Uinta County                  21022            20903
          Washakie County                8443             8316
          Weston County                  7160             7185

                              POPESTIMATE2015
STNAME    CTYNAME
Wisconsin Washburn County               15552
          Washington County            133674
          Waukesha County              396488
          Waupaca County                51945
          Waushara County               24033
          Winnebago County             169546
          Wood County                   73435
Wyoming   Albany County                 37956
          Big Horn County               12022
          Campbell County               49220
          Carbon County                 15559
          Converse County               14236
          Crook County                   7444
          Fremont County                40315
          Goshen County                 13383
          Hot Springs County             4741
          Johnson County                 8585
          Laramie County                97121
          Lincoln County                18722
          Natrona County                82178
          Niobrara County                2542
          Park County                   29228
          Platte County                  8812
          Sheridan County               30009
          Sublette County                9899
          Sweetwater County             44626
          Teton County                  23125
          Uinta County                  20822
          Washakie County                8328
          Weston County                  7234

In [92]:
df5.loc['Washington'].head(5)

,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,,,,,,,
Adams County,145,426,402,411,373,399,18810,18883,18962,19114,19194,19254
Asotin County,62,252,229,251,238,241,21710,21920,21878,22110,22188,22105
Benton County,656,2555,2603,2522,2572,2590,176516,180580,182532,184584,186647,190309
Chelan County,269,943,938,924,906,922,72743,73327,73705,74061,74598,75644
Clallam County,167,685,656,662,666,677,71533,71778,71829,72222,72668,73486

For a multiindex dataframe the .loc operator can be used with just one argument as show in the above case, but the argument should the 1st one which was used to creat the datframe, in above case it is State name and not the county name

df5.loc['Washington County'].head(5)
on trying to use .loc on a county name(secondary index) key error is obtained

In [93]:
df5.loc[[('Washington','Washington County')]]

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Washington,Washington County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df5.loc[[('Michigan','Washtenaw County'),('Michigan','Wayne')]]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County       977.0      3826.0      3780.0      3662.0
         Wayne                    NaN         NaN         NaN         NaN

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County      3683.0      3709.0         345563.0
         Wayne                    NaN         NaN              NaN

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County         349048.0         351213.0         354289.0
         Wayne                         NaN              NaN              NaN

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County         357029.0         358880.0
         Wayne                         NaN              NaN

In [95]:
df6 = pd.read_csv('log.csv')
df6

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [96]:
df6 = df6.set_index('time')
df6 = df6.sort_index()
df6

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [97]:
df6 = df6.reset_index()

In [98]:
df6

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974424     sue  advanced.html                 23  False    10.0
2   1469974454  cheryl     intro.html                  6    NaN     NaN
3   1469974454     sue  advanced.html                 24    NaN     NaN
4   1469974484  cheryl     intro.html                  7    NaN     NaN
5   1469974514  cheryl     intro.html                  8    NaN     NaN
6   1469974524     sue  advanced.html                 25    NaN     NaN
7   1469974544  cheryl     intro.html                  9    NaN     NaN
8   1469974554     sue  advanced.html                 26    NaN     NaN
9   1469974574  cheryl     intro.html                 10    NaN     NaN
10  1469974604  cheryl     intro.html                 11    NaN     NaN
11  1469974624     sue  advanced.html                 27    NaN     NaN
12  1469974634  cheryl     intro.html                 12    NaN     NaN
13  1469974654     sue  advanced.html                 28    NaN     5.0
14  1469974664  cheryl     intro.html                 13    NaN     NaN
15  1469974694  cheryl     intro.html                 14    NaN     NaN
16  1469974724  cheryl     intro.html                 15    NaN     NaN
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974754     sue  advanced.html                 30    NaN     NaN
19  1469974824     sue  advanced.html                 31    NaN     NaN
20  1469974854     sue  advanced.html                 32    NaN     NaN
21  1469974924     sue  advanced.html                 33    NaN     NaN
22  1469977424     bob     intro.html                  1   True    10.0
23  1469977454     bob     intro.html                  1    NaN     NaN
24  1469977484     bob     intro.html                  1    NaN     NaN
25  1469977514     bob     intro.html                  1    NaN     NaN
26  1469977544     bob     intro.html                  1    NaN     NaN
27  1469977574     bob     intro.html                  1    NaN     NaN
28  1469977604     bob     intro.html                  1    NaN     NaN
29  1469977634     bob     intro.html                  1    NaN     NaN
30  1469977664     bob     intro.html                  1    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [99]:
df6 = df6.set_index(['time','user'])
df6

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

na_filter can be used to turn off the white space filtering, if white space is an actual value of interest

In [100]:
df6.fillna?

#### .fillna() method.
df6.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)

example:

"value" parameter takes a scalar value and changes all the Nan values in the df to this scalar value.

"Method" paramneter has two common parameters as ffill and bfill 

--> ffill is for forward filling and it updates an na value at a particular cell with the value from the previous row.It's is important to note that your data needs to be sorted in order for this to have effect that you might want.

while filling missing data in a dataframe we need not have to fill all the values at once, there is a option to fill the data either column wise or a couple of cells.By making use ffilling or bfilling.

More recently pandas team introduced a method of filling missing values with a series which is same length as your dataframe.

While calculating things like mean, sum etc on data frame it has to be kept in mind that pandas ignores the missing values during calculation.

## Merging Dataframes

In [101]:
import pandas as pd

df = pd.DataFrame([{'Name': 'Chris', 'Item Purchased': 'Sponge', 'Cost': 22.50},
                   {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.50},
                   {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
                  index=['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5         Sponge  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0          Spoon  Filip

In [102]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df

         Cost Item Purchased   Name        Date
Store 1  22.5         Sponge  Chris  December 1
Store 1   2.5   Kitty Litter  Kevyn   January 1
Store 2   5.0          Spoon  Filip     mid-May

In [103]:
df['Delivered'] = True
df

         Cost Item Purchased   Name        Date Delivered
Store 1  22.5         Sponge  Chris  December 1      True
Store 1   2.5   Kitty Litter  Kevyn   January 1      True
Store 2   5.0          Spoon  Filip     mid-May      True

In [104]:
df['Feedback'] = ['Positive', None, 'Negative']
df

         Cost Item Purchased   Name        Date Delivered  Feedback
Store 1  22.5         Sponge  Chris  December 1      True  Positive
Store 1   2.5   Kitty Litter  Kevyn   January 1      True      None
Store 2   5.0          Spoon  Filip     mid-May      True  Negative

In [105]:
adf = df.reset_index()
adf['Date'] = pd.Series({0: 'December 1', 2: 'mid-May'})
adf

     index  Cost Item Purchased   Name        Date Delivered  Feedback
0  Store 1  22.5         Sponge  Chris  December 1      True  Positive
1  Store 1   2.5   Kitty Litter  Kevyn         NaN      True      None
2  Store 2   5.0          Spoon  Filip     mid-May      True  Negative

Since the index is reset now the index is starting from 0 and goes upto 2,

Here we are passing another series in the form of dictonary for the column 'Date' with just two key+values pair, now the corresponding keys act as the index of the dataframe and store Nan for the remaining cell which doesn't have it's row in series.

In [106]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader

In [107]:
staff_df = staff_df.set_index('Name')

In [108]:
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [109]:
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [110]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In case of merge the ouput dataframe columns are in the order in which the input dataframes are given, i.e. in the above example since 'name' is taken as the index the remaining columns are 'Role' in "staff_df" and 'School' in "student_df" and since the order inside the merge method is staff_df, school_df 'Role' column will come 1st and then 'School'.

In [111]:
pd.merge(student_df, staff_df, how='outer', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Kelly          NaN  Director of HR
Mike           Law             NaN
Sally  Engineering  Course liasion

In [112]:
pd.merge(staff_df,student_df,how='inner', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Sally  Course liasion  Engineering

####  Venn Diagrams
Outer join is Union.

Inner join is Intersection.

Left join and right join will have the elements that are shared amoung two sets along with the elements that are exclusive to a set also.

On merging two data frames then pandas automatically fills Nan for the cells which doesn't have a value.

In [113]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [114]:
pd.merge(student_df,staff_df, how='left', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Mike           Law             NaN
Sally  Engineering  Course liasion

In [115]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [116]:
pd.merge(student_df,staff_df, how='right', left_index=True, right_index=True)

            School            Role
Name
Kelly          NaN  Director of HR
Sally  Engineering  Course liasion
James     Business          Grader

Till now only index are used to merge two dataframes using index but it is also possible to join two datdframes using the column names.

In [117]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(student_df, staff_df, how='left', left_on='Name', right_on='Name')

    Name       School            Role
0  James     Business          Grader
1   Mike          Law             NaN
2  Sally  Engineering  Course liasion

In [118]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

          Location_x   Name            Role            Location_y       School
0       State Street  Kelly  Director of HR                   NaN          NaN
1  Washington Avenue  Sally  Course liasion   512 Wilson Crescent  Engineering
2  Washington Avenue  James          Grader  1024 Billiard Avenue     Business

Merging fo two Dataframes doesn't affect the original Dataframe

On merging datafrmaes based on columns we get _X and _y for the columns that are common in the two dataframes.

In the above example 'location' is common column name in both the dataframes hence  it has a suffix _x and _y to differentiate which dataframe it belongs to.

In case of a left join the sufix _x will be added to 1st dataframe that was passed on to merge method.

In [119]:
products = pd.DataFrame([{'Product ID':4109,'Price':5.0,'Product':'Sushi Roll'},
                         {'Product ID':1412,'Price':0.5,'Product':'Egg'},
                         {'Product ID':8931,'Price':1.5,'Product':'Bagel'}])
products

   Price     Product  Product ID
0    5.0  Sushi Roll        4109
1    0.5         Egg        1412
2    1.5       Bagel        8931

In [120]:
invoices = pd.DataFrame([{'Product ID':4109,'Customer':'Ali','Quantity':1},
                         {'Product ID':1412,'Customer':'Eric','Quantity':12},
                         {'Product ID':8931,'Customer':'Ande','Quantity':6},
                         {'Product ID':4109,'Customer':'Sam','Quantity':2}])
invoices

  Customer  Product ID  Quantity
0      Ali        4109         1
1     Eric        1412        12
2     Ande        8931         6
3      Sam        4109         2

In [121]:
answer = pd.merge(products, invoices, how = 'left', left_on = 'Product ID',right_on = 'Product ID')
answer

   Price     Product  Product ID Customer  Quantity
0    5.0  Sushi Roll        4109      Ali         1
1    5.0  Sushi Roll        4109      Sam         2
2    0.5         Egg        1412     Eric        12
3    1.5       Bagel        8931     Ande         6

In [122]:
answer['total'] = answer['Price'] * answer['Quantity']
answer

   Price     Product  Product ID Customer  Quantity  total
0    5.0  Sushi Roll        4109      Ali         1    5.0
1    5.0  Sushi Roll        4109      Sam         2   10.0
2    0.5         Egg        1412     Eric        12    6.0
3    1.5       Bagel        8931     Ande         6    9.0

In [123]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])
staff_df
student_df
pd.merge(staff_df, student_df, how='inner', left_on=['First Name','Last Name'], right_on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

While merging two datframes it is possible to merge them based on two or more column names, as shown in the above case.

The result has just sally Brooks in it because the for james the last name is different and on doing intersection while keeping first and last name in consideration only sally qualifies.

## Idiomatic Pandas: Making Code Pandorable

Chaining is a bad paatice in coding of Pandas and if you see "][" then you are using chaining

In [124]:
import pandas as pd
df = pd.read_csv('census.csv')
df.head(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [125]:
%%timeit -n 100
(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

100 loops, best of 3: 23.4 ms per loop

In [126]:
import pandas as pd
df1 = pd.read_csv('census.csv')

In [127]:
%%timeit -n 100
df2 = df1[df1['SUMLEV']==50]
df2.set_index(['STNAME','CTYNAME'], inplace=True)
df2.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

100 loops, best of 3: 6.69 ms per loop

From the above two timeit examples  it can be seen that pandaroable code need not take lesser time for execution.

A dataframe with only certain number of coloumns is to be created by using another dataframe then we can make use of indexing i.e. big brackets.
The returned dataframe will have same index as the original but will have only those columns.

In [128]:
df1.head(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [129]:
df1[['CENSUS2010POP','ESTIMATESBASE2010']]

      CENSUS2010POP  ESTIMATESBASE2010
0           4779736            4780127
1             54571              54571
2            182265             182265
3             27457              27457
4             22915              22919
5             57322              57322
6             10914              10915
7             20947              20946
8            118572             118586
9             34215              34170
10            25989              25986
11            43643              43631
12            13859              13858
13            25833              25840
14            13932              13932
15            14972              14972
16            49948              49948
17            54428              54428
18            13228              13228
19            11539              11758
20            37765              37765
21            13906              13906
22            80406              80410
23            50251              50251
24            43820              43820
25            71109              71115
26            79303              79296
27            38319              38319
28           104430             104427
29            17241              17241
...             ...                ...
3163         131887             131885
3164         389891             389938
3165          52410              52410
3166          24496              24496
3167         166994             166994
3168          74749              74749
3169         563626             563767
3170          36299              36299
3171          11668              11668
3172          46133              46133
3173          15885              15885
3174          13833              13833
3175           7083               7083
3176          40123              40123
3177          13249              13247
3178           4812               4812
3179           8569               8569
3180          91738              91881
3181          18106              18106
3182          75450              75450
3183           2484               2484
3184          28205              28205
3185           8667               8667
3186          29116              29116
3187          10247              10247
3188          43806              43806
3189          21294              21294
3190          21118              21118
3191           8533               8533
3192           7208               7208

[3193 rows x 2 columns]

In [130]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

While using a apply we are not passing any arguments to the function coz i think what ever is before '.apply' will go as the argument to the function.

so in the above case on executing .apply() method df1 has become row inside the min_max function and data is nothing but sub set dataframe of df1 which has only those columns mentioned inside function.

.apply method takes two arguments 

1st on : is a function or a lambda

2nd on: is the axis

In [131]:
df1.apply(min_max, axis=1)

          max      min
0     4858979  4785161
1       55347    54660
2      203709   183193
3       27341    26489
4       22861    22512
5       57776    57373
6       10887    10606
7       20944    20154
8      118437   115620
9       34153    33993
10      26084    25859
11      43943    43665
12      13841    13170
13      25767    24675
14      13880    13456
15      15072    14921
16      51211    50177
17      54514    54354
18      13208    12662
19      11758    10724
20      38060    37796
21      13963    13853
22      82005    80374
23      50358    49501
24      43803    41131
25      71387    70869
26      81468    79465
27      38309    37784
28     104442   103057
29      17231    16759
...       ...      ...
3163   133674   131967
3164   396488   390076
3165    52422    51945
3166    24581    24033
3167   169639   167059
3168    74807    73435
3169   586107   564516
3170    37956    36428
3171    12022    11672
3172    49220    46244
3173    15856    15559
3174    14343    13728
3175     7444     7114
3176    41129    40222
3177    13666    13383
3178     4846     4741
3179     8636     8552
3180    97121    92271
3181    18722    17943
3182    82178    75472
3183     2548     2475
3184    29237    28259
3185     8812     8678
3186    30020    29146
3187    10418     9899
3188    45162    43593
3189    23125    21297
3190    21102    20822
3191     8545     8316
3192     7234     7065

[3193 rows x 2 columns]

In [132]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    row['max'] = np.max(data)
    row['min'] = np.min(data)
    return row
df1.apply(min_max, axis=1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,max,min
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4858979,4785161
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,55347,54660
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,203709,183193
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,27341,26489
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22861,22512
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411,57776,57373
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961,10887,10606
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868,20944,20154
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406,118437,115620
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901,34153,33993
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307,26084,25859
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709,43943,43665
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205,13841,13170
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736,25767,24675
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270,13880,13456
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961,15072,14921
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738,51211,50177
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052,54514,54354
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,13208,12662
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581,11758,10724
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121,38060,37796
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600,13963,13853
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777,82005,80374
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668,50358,49501
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389,43803,41131
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790,71387,70869
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093,81468,79465
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830,38309,37784
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308,104442,103057
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058,17231,16759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931,133674,131967
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567,396488,390076
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022,52422,51945
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395,24581,24033
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304,169639,167059
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223,74807,73435
3169,40,4,8,56,0,Wyoming,Wyoming,563626,563767,564516,...,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573,586107,564516
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460,37956,36428
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554,12022,11672
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525,49220,46244
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668,15856,15559
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443,14343,13728
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219,7444,7114
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750,41129,40222
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133,13666,13383
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940,4846,4741
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652,8636,8552
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640,97121,92271
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823,18722,17943
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743,82178,75472
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114,2548,2475
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839,29237,28259
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414,8812,8678
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937,30020,29146
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059,10418,9899
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,45162,43593
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,23125,21297
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,21102,20822
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,8545,8316
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,7234,7065

In [133]:
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']
df1.apply(lambda x: np.max(x[rows]), axis=1)

0       4858979
1         55347
2        203709
3         27341
4         22861
5         57776
6         10887
7         20944
8        118437
9         34153
10        26084
11        43943
12        13841
13        25767
14        13880
15        15072
16        51211
17        54514
18        13208
19        11758
20        38060
21        13963
22        82005
23        50358
24        43803
25        71387
26        81468
27        38309
28       104442
29        17231
         ...
3163     133674
3164     396488
3165      52422
3166      24581
3167     169639
3168      74807
3169     586107
3170      37956
3171      12022
3172      49220
3173      15856
3174      14343
3175       7444
3176      41129
3177      13666
3178       4846
3179       8636
3180      97121
3181      18722
3182      82178
3183       2548
3184      29237
3185       8812
3186      30020
3187      10418
3188      45162
3189      23125
3190      21102
3191       8545
3192       7234
dtype: int64

## Group By

In [134]:
import pandas as pd
import numpy as np
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [135]:
df.where(df['STNAME']=='Alabama')

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50.0,3.0,6.0,1.0,1.0,Alabama,Autauga County,54571.0,54571.0,54660.0,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50.0,3.0,6.0,1.0,3.0,Alabama,Baldwin County,182265.0,182265.0,183193.0,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50.0,3.0,6.0,1.0,5.0,Alabama,Barbour County,27457.0,27457.0,27341.0,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50.0,3.0,6.0,1.0,7.0,Alabama,Bibb County,22915.0,22919.0,22861.0,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50.0,3.0,6.0,1.0,9.0,Alabama,Blount County,57322.0,57322.0,57373.0,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50.0,3.0,6.0,1.0,11.0,Alabama,Bullock County,10914.0,10915.0,10887.0,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50.0,3.0,6.0,1.0,13.0,Alabama,Butler County,20947.0,20946.0,20944.0,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50.0,3.0,6.0,1.0,15.0,Alabama,Calhoun County,118572.0,118586.0,118437.0,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50.0,3.0,6.0,1.0,17.0,Alabama,Chambers County,34215.0,34170.0,34098.0,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50.0,3.0,6.0,1.0,19.0,Alabama,Cherokee County,25989.0,25986.0,25976.0,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50.0,3.0,6.0,1.0,21.0,Alabama,Chilton County,43643.0,43631.0,43665.0,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50.0,3.0,6.0,1.0,23.0,Alabama,Choctaw County,13859.0,13858.0,13841.0,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50.0,3.0,6.0,1.0,25.0,Alabama,Clarke County,25833.0,25840.0,25767.0,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50.0,3.0,6.0,1.0,27.0,Alabama,Clay County,13932.0,13932.0,13880.0,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50.0,3.0,6.0,1.0,29.0,Alabama,Cleburne County,14972.0,14972.0,14973.0,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50.0,3.0,6.0,1.0,31.0,Alabama,Coffee County,49948.0,49948.0,50177.0,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50.0,3.0,6.0,1.0,33.0,Alabama,Colbert County,54428.0,54428.0,54514.0,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50.0,3.0,6.0,1.0,35.0,Alabama,Conecuh County,13228.0,13228.0,13208.0,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50.0,3.0,6.0,1.0,37.0,Alabama,Coosa County,11539.0,11758.0,11758.0,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50.0,3.0,6.0,1.0,39.0,Alabama,Covington County,37765.0,37765.0,37796.0,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50.0,3.0,6.0,1.0,41.0,Alabama,Crenshaw County,13906.0,13906.0,13853.0,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50.0,3.0,6.0,1.0,43.0,Alabama,Cullman County,80406.0,80410.0,80473.0,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50.0,3.0,6.0,1.0,45.0,Alabama,Dale County,50251.0,50251.0,50358.0,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50.0,3.0,6.0,1.0,47.0,Alabama,Dallas County,43820.0,43820.0,43803.0,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50.0,3.0,6.0,1.0,49.0,Alabama,DeKalb County,71109.0,71115.0,71142.0,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50.0,3.0,6.0,1.0,51.0,Alabama,Elmore County,79303.0,79296.0,79465.0,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50.0,3.0,6.0,1.0,53.0,Alabama,Escambia County,38319.0,38319.0,38309.0,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50.0,3.0,6.0,1.0,55.0,Alabama,Etowah County,104430.0,104427.0,104442.0,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50.0,3.0,6.0,1.0,57.0,Alabama,Fayette County,17241.0,17241.0,17231.0,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50.0,3.0,6.0,1.0,59.0,Alabama,Franklin County,31704.0,31709.0,31734.0,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This query returns a dataframe that has all the cells as the original df but only show those rows will have value in which the state name is Alabama

In [136]:
df.where(df['STNAME']=='Alabama').dropna()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50.0,3.0,6.0,1.0,1.0,Alabama,Autauga County,54571.0,54571.0,54660.0,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50.0,3.0,6.0,1.0,3.0,Alabama,Baldwin County,182265.0,182265.0,183193.0,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50.0,3.0,6.0,1.0,5.0,Alabama,Barbour County,27457.0,27457.0,27341.0,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50.0,3.0,6.0,1.0,7.0,Alabama,Bibb County,22915.0,22919.0,22861.0,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50.0,3.0,6.0,1.0,9.0,Alabama,Blount County,57322.0,57322.0,57373.0,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50.0,3.0,6.0,1.0,11.0,Alabama,Bullock County,10914.0,10915.0,10887.0,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50.0,3.0,6.0,1.0,13.0,Alabama,Butler County,20947.0,20946.0,20944.0,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50.0,3.0,6.0,1.0,15.0,Alabama,Calhoun County,118572.0,118586.0,118437.0,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50.0,3.0,6.0,1.0,17.0,Alabama,Chambers County,34215.0,34170.0,34098.0,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50.0,3.0,6.0,1.0,19.0,Alabama,Cherokee County,25989.0,25986.0,25976.0,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50.0,3.0,6.0,1.0,21.0,Alabama,Chilton County,43643.0,43631.0,43665.0,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50.0,3.0,6.0,1.0,23.0,Alabama,Choctaw County,13859.0,13858.0,13841.0,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50.0,3.0,6.0,1.0,25.0,Alabama,Clarke County,25833.0,25840.0,25767.0,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50.0,3.0,6.0,1.0,27.0,Alabama,Clay County,13932.0,13932.0,13880.0,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50.0,3.0,6.0,1.0,29.0,Alabama,Cleburne County,14972.0,14972.0,14973.0,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50.0,3.0,6.0,1.0,31.0,Alabama,Coffee County,49948.0,49948.0,50177.0,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50.0,3.0,6.0,1.0,33.0,Alabama,Colbert County,54428.0,54428.0,54514.0,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50.0,3.0,6.0,1.0,35.0,Alabama,Conecuh County,13228.0,13228.0,13208.0,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50.0,3.0,6.0,1.0,37.0,Alabama,Coosa County,11539.0,11758.0,11758.0,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50.0,3.0,6.0,1.0,39.0,Alabama,Covington County,37765.0,37765.0,37796.0,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50.0,3.0,6.0,1.0,41.0,Alabama,Crenshaw County,13906.0,13906.0,13853.0,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50.0,3.0,6.0,1.0,43.0,Alabama,Cullman County,80406.0,80410.0,80473.0,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50.0,3.0,6.0,1.0,45.0,Alabama,Dale County,50251.0,50251.0,50358.0,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50.0,3.0,6.0,1.0,47.0,Alabama,Dallas County,43820.0,43820.0,43803.0,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50.0,3.0,6.0,1.0,49.0,Alabama,DeKalb County,71109.0,71115.0,71142.0,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50.0,3.0,6.0,1.0,51.0,Alabama,Elmore County,79303.0,79296.0,79465.0,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50.0,3.0,6.0,1.0,53.0,Alabama,Escambia County,38319.0,38319.0,38309.0,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50.0,3.0,6.0,1.0,55.0,Alabama,Etowah County,104430.0,104427.0,104442.0,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50.0,3.0,6.0,1.0,57.0,Alabama,Fayette County,17241.0,17241.0,17231.0,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50.0,3.0,6.0,1.0,59.0,Alabama,Franklin County,31704.0,31709.0,31734.0,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,50.0,3.0,6.0,1.0,75.0,Alabama,Lamar County,14564.0,14564.0,14495.0,...,-10.004516,-0.560538,0.281304,-4.674718,-7.588774,-9.865564,-0.490471,0.351630,-4.603889,-7.517182
39,50.0,3.0,6.0,1.0,77.0,Alabama,Lauderdale County,92709.0,92709.0,92747.0,...,0.064737,1.640601,1.952440,5.113245,-4.782962,0.593424,2.039957,2.373132,5.597658,-4.308975
40,50.0,3.0,6.0,1.0,79.0,Alabama,Lawrence County,34339.0,34339.0,34305.0,...,-5.530358,-7.785199,-6.088235,-1.850940,-7.604334,-5.501097,-7.667242,-5.969440,-1.731524,-7.484108
41,50.0,3.0,6.0,1.0,81.0,Alabama,Lee County,140247.0,140296.0,140782.0,...,13.479880,16.576137,14.902891,9.198122,6.255238,17.060473,20.343441,18.496685,13.015964,10.134256
42,50.0,3.0,6.0,1.0,83.0,Alabama,Limestone County,82782.0,82782.0,83163.0,...,22.558084,16.312081,12.838340,14.976432,6.824853,23.458985,16.971506,13.621581,15.934746,7.801399
43,50.0,3.0,6.0,1.0,85.0,Alabama,Lowndes County,11299.0,11299.0,11275.0,...,-13.575065,-28.401074,-11.493720,-16.071429,-7.804692,-13.485755,-28.310045,-11.401029,-15.883459,-7.614334
44,50.0,3.0,6.0,1.0,87.0,Alabama,Macon County,21452.0,21448.0,21545.0,...,-11.725137,-38.373096,-28.414867,-20.642728,-10.599605,-12.005419,-38.421002,-28.464457,-20.642728,-10.599605
45,50.0,3.0,6.0,1.0,89.0,Alabama,Madison County,334811.0,334811.0,336138.0,...,4.170416,3.438521,6.367708,4.064107,2.480087,5.739131,4.880766,7.818211,5.734524,4.180881
46,50.0,3.0,6.0,1.0,91.0,Alabama,Marengo County,21027.0,21029.0,20942.0,...,-12.484994,-15.404427,-11.313608,-4.808407,-8.315905,-11.572629,-14.286756,-10.133058,-3.420413,-6.921621
47,50.0,3.0,6.0,1.0,93.0,Alabama,Marion County,30776.0,30777.0,30800.0,...,0.877663,-4.278110,-5.066373,1.420924,-0.033105,1.527785,-3.853565,-4.605793,1.916595,0.463469
48,50.0,3.0,6.0,1.0,95.0,Alabama,Marshall County,93019.0,93019.0,93146.0,...,3.838505,0.287029,-1.039209,-2.246560,0.423099,5.249877,1.009918,-0.148458,-1.155071,1.533734
49,50.0,3.0,6.0,1.0,97.0,Alabama,Mobile County,412992.0,413143.0,413332.0,...,-5.242052,-3.722733,-3.181655,-2.311087,-3.873201,-3.751237,-2.281051,-1.753896,-0.759909,-2.288272
50,50.0,3.0,6.0,1.0,99.0,Alabama,Monroe County,23068.0,23070.0,22982.0,...,-8.697933,-6.613611,-17.389749,-10.669451,-5.967409,-8.697933,-6.613611,-17.389749,-10.669451,-5.967409
51,50.0,3.0,6.0,1.0,101.0,Alabama,Montgomery County,229363.0,229363.0,229723.0,...,0.793549,-17.053618,-16.353778,-8.910671,-5.820167,2.441356,-15.057012,-14.486528,-6.784461,-3.598965
52,50.0,3.0,6.0,1.0,103.0,Alabama,Morgan County,119490.0,119486.0,119603.0,...,-0.058443,-0.616520,-6.114295,-1.997409,-3.670246,0.993538,0.024994,-5.288490,-1.036313,-2.700432
53,50.0,3.0,6.0,1.0,105.0,Alabama,Perry County,10591.0,10581.0,10540.0,...,-4.275534,-30.449493,-13.879939,-11.386538,-16.096786,-3.895487,-30.256162,-13.582511,-11.185006,-15.891731
54,50.0,3.0,6.0,1.0,107.0,Alabama,Pickens County,19746.0,19746.0,19716.0,...,-16.788228,0.723253,2.995868,47.451138,24.852559,-16.788228,0.723253,2.995868,47.451138,24.852559
55,50.0,3.0,6.0,1.0,109.0,Alabama,Pike County,32899.0,32899.0,32957.0,...,-6.316429,0.333293,11.688020,-21.462830,-6.290069,-3.735196,3.211732,14.804825,-17.865707,-2.661183
56,50.0,3.0,6.0,1.0,111.0,Alabama,Randolph County,22913.0,22914.0,22891.0,...,-2.232289,-6.867709,1.016395,-5.275290,9.959718,-2.407371,-7.131851,0.795439,-5.496941,9.738391
57,50.0,3.0,6.0,1.0,113.0,Alabama,Russell County,52947.0,52951.0,53297.0,...,24.111089,42.595881,22.802470,-1.728057,-6.232617,24.222029,44.584517,23.569942,-1.107299,-5.193848
58,50.0,3.0,6.0,1.0,115.0,Alabama,St. Clair County,83593.0,83593.0,83812.0,...,1.498849,6.643969,9.511583,1.551186,3.121490,2.093630,7.104209,10.013421,2.118411,3.685893
59,50.0,3.0,6.0,1.0,117.0,Alabama,Shelby County,195085.0,195218.0,196048.0,...,1.456731,7.783057,8.805327,5.037501,5.986812,3.065733,8.755939,9.897345,6.359052,7.307574
60,50.0,3.0,6.0,1.0,119.0,Alabama,Sumter County,13763.0,13763.0,13740.0,...,-16.368174,-4.006083,-4.990131,-13.135673,-12.981098,-15.120376,-2.225602,-3.053663,-10.958904,-10.855538
61,50.0,3.0,6.0,1.0,121.0,Alabama,Talladega County,82291.0,82291.0,82071.0,...,-2.318600,1.563340,-5.966492,1.230224,-4.231434,-1.879286,2.064097,-5.402922,1.919150,-3.540587
62,50.0,3.0,6.0,1.0,123.0,Alabama,Tallapoosa County,41616.0,41618.0,41502.0,...,-0.337532,-6.705723,1.772834,-0.194404,-5.978818,0.072328,-6.415222,2.088545,0.218704,-5.515154
63,50.0,3.0,6.0,1.0,125.0,Alabama,Tuscaloosa County,194656.0,194653.0,194977.0,...,3.983504,4.256278,5.261075,4.787490,1.884402,5.306232,5.202679,6.333332,6.057539,3.158710
64,50.0,3.0,6.0,1.0,127.0,Alabama,Walker County,67023.0,67023.0,67004.0,...,-4.579296,-4.336533,-0.666096,-3.300481,-3.087245,-4.085450,-3.869753,-0.181663,-2.692097,-2.460626
65,50.0,3.0,6.0,1.0,129.0,Alabama,Washington County,17581.0,17583.0,17610.0,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
66,50.0,3.0,6.0,1.0,131.0,Alabama,Wilcox County,11670.0,11665.0,11557.0,...,-7.029724,-10.239356,-12.314507,-13.835235,0.090453,-7.029724,-10.239356,-12.314507,-13.835235,0.090453
67,50.0,3.0,6.0,1.0,133.0,Alabama,Winston County,24484.0,24483.0,24401.0,...,0.410332,-3.916234,2.441548,1.077609,-6.669724,0.410332,-3.957457,2.400166,1.036162,-6.711409

The new dataframe has only those rows in which the state name is Alabama. i.e. in other words all other rows which did not ful fill the statename == 'Alabama' had Nan values in them and now they have been removed from dataframe

In [137]:
df.where(df['STNAME']=='Alabama').dropna()['CENSUS2010POP']

1      54571.0
2     182265.0
3      27457.0
4      22915.0
5      57322.0
6      10914.0
7      20947.0
8     118572.0
9      34215.0
10     25989.0
11     43643.0
12     13859.0
13     25833.0
14     13932.0
15     14972.0
16     49948.0
17     54428.0
18     13228.0
19     11539.0
20     37765.0
21     13906.0
22     80406.0
23     50251.0
24     43820.0
25     71109.0
26     79303.0
27     38319.0
28    104430.0
29     17241.0
30     31704.0
        ...
38     14564.0
39     92709.0
40     34339.0
41    140247.0
42     82782.0
43     11299.0
44     21452.0
45    334811.0
46     21027.0
47     30776.0
48     93019.0
49    412992.0
50     23068.0
51    229363.0
52    119490.0
53     10591.0
54     19746.0
55     32899.0
56     22913.0
57     52947.0
58     83593.0
59    195085.0
60     13763.0
61     82291.0
62     41616.0
63    194656.0
64     67023.0
65     17581.0
66     11670.0
67     24484.0
Name: CENSUS2010POP, dtype: float64

Series returned above has all the counties which  has the state name as 'Alabama'

In [138]:
a = np.average(df.where(df['STNAME']=='Alabama').dropna()['CENSUS2010POP'])
a

71339.343283582086

Here the avarage population of all the counties of state alabama is calculated

In [139]:
df['STNAME']

1         Alabama
2         Alabama
3         Alabama
4         Alabama
5         Alabama
6         Alabama
7         Alabama
8         Alabama
9         Alabama
10        Alabama
11        Alabama
12        Alabama
13        Alabama
14        Alabama
15        Alabama
16        Alabama
17        Alabama
18        Alabama
19        Alabama
20        Alabama
21        Alabama
22        Alabama
23        Alabama
24        Alabama
25        Alabama
26        Alabama
27        Alabama
28        Alabama
29        Alabama
30        Alabama
          ...
3162    Wisconsin
3163    Wisconsin
3164    Wisconsin
3165    Wisconsin
3166    Wisconsin
3167    Wisconsin
3168    Wisconsin
3170      Wyoming
3171      Wyoming
3172      Wyoming
3173      Wyoming
3174      Wyoming
3175      Wyoming
3176      Wyoming
3177      Wyoming
3178      Wyoming
3179      Wyoming
3180      Wyoming
3181      Wyoming
3182      Wyoming
3183      Wyoming
3184      Wyoming
3185      Wyoming
3186      Wyoming
3187      Wyoming
3188      Wyoming
3189      Wyoming
3190      Wyoming
3191      Wyoming
3192      Wyoming
Name: STNAME, dtype: object

In [140]:
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Counties in state ' + state + ' have an average population of ' + str(avg))

Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609

.where and df[df[]] can be used as an alternative to one other

In [141]:
(df[df['STNAME'] == 'Alabama'].dropna()['CENSUS2010POP'])

1      54571
2     182265
3      27457
4      22915
5      57322
6      10914
7      20947
8     118572
9      34215
10     25989
11     43643
12     13859
13     25833
14     13932
15     14972
16     49948
17     54428
18     13228
19     11539
20     37765
21     13906
22     80406
23     50251
24     43820
25     71109
26     79303
27     38319
28    104430
29     17241
30     31704
       ...
38     14564
39     92709
40     34339
41    140247
42     82782
43     11299
44     21452
45    334811
46     21027
47     30776
48     93019
49    412992
50     23068
51    229363
52    119490
53     10591
54     19746
55     32899
56     22913
57     52947
58     83593
59    195085
60     13763
61     82291
62     41616
63    194656
64     67023
65     17581
66     11670
67     24484
Name: CENSUS2010POP, dtype: int64

In [142]:
%%timeit -n 10
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Counties in state ' + state + ' have an average population of ' + str(avg))

Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688
Counties in state Nevada have an average population of 158855.941176
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.619048
Counties in state New Mexico have an average population of 62399.3636364
Counties in state New York have an average population of 312550.032258
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.3962264
Counties in state Ohio have an average population of 131096.636364
Counties in state Oklahoma have an average population of 48718.8441558
Counties in state Oregon have an average population of 106418.722222
Counties in state Pennsylvania have an average population of 189587.746269
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.391304
Counties in state South Dakota have an average population of 12336.0606061
Counties in state Tennessee have an average population of 66801.1052632
Counties in state Texas have an average population of 98998.2716535
Counties in state Utah have an average population of 95306.3793103
Counties in state Vermont have an average population of 44695.7857143
Counties in state Virginia have an average population of 60111.2932331
Counties in state Washington have an average population of 172424.102564
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.9166667
Counties in state Wyoming have an average population of 24505.4782609
Counties in state Alabama have an average population of 71339.3432836
Counties in state Alaska have an average population of 24490.7241379
Counties in state Arizona have an average population of 426134.466667
Counties in state Arkansas have an average population of 38878.9066667
Counties in state California have an average population of 642309.586207
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.567164
Counties in state Georgia have an average population of 60928.6352201
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.8636364
Counties in state Illinois have an average population of 125790.509804
Counties in state Indiana have an average population of 70476.1086957
Counties in state Iowa have an average population of 30771.2626263
Counties in state Kansas have an average population of 27172.552381
Counties in state Kentucky have an average population of 36161.3916667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.666667
Counties in state Massachusetts have an average population of 467687.785714
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.6551724
Counties in state Mississippi have an average population of 36186.5487805
Counties in state Missouri have an average population of 52077.626087
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.0752688

In [143]:
df.groupby('STNAME')

In [144]:
df.head(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [145]:
df = df.set_index('STNAME')

In [146]:
def fun(item):
    #print(item)
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(fun):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

There are 1177 records in group 0 for processing.
There are 1134 records in group 1 for processing.
There are 831 records in group 2 for processing.

In [147]:
import pandas as pd
import numpy as np
df = pd.read_csv('census.csv')
df.head(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [148]:
df = df.set_index('STNAME')
def fun(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(fun):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

There are 1196 records in group 0 for processing.
There are 1154 records in group 1 for processing.
There are 843 records in group 2 for processing.

In case of the above example also we are passing a function named 'fun' as the argument for the group by method and the index of the datatframe becomes the argument for the defined function i.e. item has all the state names

This method of grouping is used to divide the dataframe into parts

In [149]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [150]:
df.groupby('STNAME').agg({'CENSUS2010POP': np.average})

                      CENSUS2010POP
STNAME
Alabama                71339.343284
Alaska                 24490.724138
Arizona               426134.466667
Arkansas               38878.906667
California            642309.586207
Colorado               78581.187500
Connecticut           446762.125000
Delaware              299311.333333
District of Columbia  601723.000000
Florida               280616.567164
Georgia                60928.635220
Hawaii                272060.200000
Idaho                  35626.863636
Illinois              125790.509804
Indiana                70476.108696
Iowa                   30771.262626
Kansas                 27172.552381
Kentucky               36161.391667
Louisiana              70833.937500
Maine                  83022.562500
Maryland              240564.666667
Massachusetts         467687.785714
Michigan              119080.000000
Minnesota              60964.655172
Mississippi            36186.548780
Missouri               52077.626087
Montana                17668.125000
Nebraska               19638.075269
Nevada                158855.941176
New Hampshire         131647.000000
New Jersey            418661.619048
New Mexico             62399.363636
New York              312550.032258
North Carolina         95354.830000
North Dakota           12690.396226
Ohio                  131096.636364
Oklahoma               48718.844156
Oregon                106418.722222
Pennsylvania          189587.746269
Rhode Island          210513.400000
South Carolina        100551.391304
South Dakota           12336.060606
Tennessee              66801.105263
Texas                  98998.271654
Utah                   95306.379310
Vermont                44695.785714
Virginia               60111.293233
Washington            172424.102564
West Virginia          33690.800000
Wisconsin              78985.916667
Wyoming                24505.478261

.agg stands for aggregate and it is a method which takes a mathmatical operation to be performed on the argument of group by 
or

dictionary as the argument, in this dictionary column names on which you want to perform certain operation is the key and the corresponding value is the mathematical operation.

In [151]:
print(df.groupby('CENSUS2010POP').agg(sum))

               SUMLEV  REGION  DIVISION  STATE  COUNTY  ESTIMATESBASE2010  \
CENSUS2010POP
82                 50       3         7     48     301                 82
90                 50       4         9     15       5                 90
286                50       3         7     48     269                286
416                50       3         7     48     261                416
460                50       2         4     31       5                460
478                50       2         4     31       9                478
494                50       4         8     30      69                494
539                50       2         4     31     117                539
614                50       2         4     31      75                614
632                50       2         4     31     115                628
641                50       3         7     48      33                641
647                50       2         4     31     171                647
662                50       4         9      2     282                662
690                50       2         4     31       7                690
695                50       4         8     35      21                695
699                50       4         8      8     111                699
707                50       3         7     48     311                707
712                50       4         8      8      79                712
718                50       4         8     30     103                718
727                50       2         4     38      87                727
736                50       2         4     31      91                736
763                50       2         4     31     113                763
783               100       6        12     70      16               1567
808                50       3         7     48     263                808
818                50       2         4     31     183                818
824                50       2         4     31     103                824
843                50       4         8      8      53                843
884                50       4         8     30      37                884
929                50       3         7     48     393                929
967                50       2         4     31      85                967
...               ...     ...       ...    ...     ...                ...
1229226            50       3         5     12      57            1229224
1280122            50       2         3     39      35            1280109
1320134            50       3         5     12      99            1320134
1339532            50       1         2     36      59            1339762
1385108            50       1         2     36       5            1385107
1418788            50       4         9      6      67            1418742
1493350            50       1         2     36     103            1493291
1503085            50       1         1     25      17            1503126
1510271            50       4         9      6       1            1510261
1526006            50       1         2     42     101            1526006
1585873            50       1         2     36      61            1585874
1714773            50       3         7     48      29            1714774
1748066            50       3         5     12      11            1748148
1781642            50       4         9      6      85            1781672
1809034            50       3         7     48     439            1809531
1820584            50       2         3     26     163            1820641
1931249            50       4         9     53      33            1931256
1951269            50       4         8     32       3            1951269
2035210            50       4         9      6      71            2035212
2189641            50       4         9      6      65            2189760
2230722            50       1         2     36      81            2230541
2368139            50       3         7     48     113            2367643
2496435            50       3         5     12      86            2498017
2504700            50       1         2     36      47            2504710
3010232            50       4         9      6      59            3010266
3095313            50       4         9      6      73            3095308
3817117            50       4         8      4      13            3817357
4092459            50       3         7     48     201            4093076
5194675            50       2         3     17      31            5195022
9818605            50       4         9      6      37            9818700

               POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
CENSUS2010POP
82                          83               95               81
90                          90               90               89
286                        288              258              270
416                        418              440              441
460                        464              469              482
478                        472              496              512
494                        492              490              509
539                        537              545              504
614                        614              633              617
632                        626              614              600
641                        643              628              613
647                        650              688              691
662                        662              651              653
690                        697              737              765
695                        687              709              696
699                        708              697              695
707                        712              702              736
712                        704              711              710
718                        720              721              732
727                        729              724              762
736                        735              743              712
763                        770              769              773
783                       1553             1597             1687
808                        809              819              834
818                        824              815              795
824                        821              823              797
843                        844              827              798
884                        883              840              842
929                        925              933              951
967                        961              984              947
...                        ...              ...              ...
1229226                1233831          1271399          1281606
1280122                1278226          1269820          1265798
1320134                1324171          1338500          1358396
1339532                1341882          1347270          1350924
1385108                1388264          1400221          1415240
1418788                1422010          1435548          1448466
1493350                1494878          1500649          1500001
1503085                1507262          1523909          1540714
1510271                1513754          1533052          1556952
1526006                1528338          1539087          1550584
1585873                1588609          1609789          1624885
1714773                1722989          1755901          1789834
1748066                1753263          1787582          1818491
1781642                1786844          1814205          1841318
1809034                1816528          1848011          1882338
1820584                1815199          1801273          1792514
1931249                1937699          1972548          2009200
1951269                1953378          1967290          1998204
2035210                2041642          2064200          2079526
2189641                2202286          2237433          2267556
2230722                2235573          2261144          2280072
2368139                2373464          2409778          2456444
2496435                2508171          2580077          2611183
2504700                2510335          2544744          2573998
3010232                3017866          3056084          3089343
3095313                3104386          3142256          3184358
3817117                3825597          3871957          3945460
4092459                4108187          4181238          4262504
5194675                5199303          5215623          5232690
9818605                9826009          9896602          9970436

               POPESTIMATE2013     ...       RDOMESTICMIG2011  \
CENSUS2010POP                      ...
82                         103     ...             101.123596
90                          89     ...               0.000000
286                        272     ...            -128.205128
416                        426     ...              25.641026
460                        452     ...               4.287245
478                        481     ...              12.396694
494                        506     ...             -20.366599
539                        523     ...              20.332717
614                        627     ...              14.434643
632                        581     ...             -20.967742
641                        638     ...             -22.029898
647                        698     ...              44.843049
662                        636     ...             -31.987814
690                        768     ...               6.973501
695                        686     ...              42.979943
699                        699     ...             -19.928826
707                        766     ...             -22.630835
712                        721     ...               0.000000
718                        700     ...               0.000000
727                        760     ...             -15.141087
736                        731     ...               6.765900
763                        763     ...              -6.497726
783                       1729     ...              40.993789
808                        796     ...              17.199017
818                        760     ...             -10.982306
824                        795     ...               2.433090
843                        808     ...             -20.347098
884                        858     ...             -46.430644
929                        921     ...               2.152853
967                        972     ...               6.169666
...                        ...     ...                    ...
1229226                1294039     ...              17.938473
1280122                1263796     ...              -9.743937
1320134                1375826     ...               4.736597
1339532                1354842     ...              -1.530594
1385108                1429123     ...             -13.083090
1418788                1462338     ...              -0.715296
1493350                1502288     ...              -2.075762
1503085                1558294     ...              -0.022434
1510271                1583845     ...              -0.363660
1526006                1556686     ...              -3.941417
1585873                1631375     ...              -2.236119
1714773                1823749     ...               7.861703
1748066                1843583     ...               7.334407
1781642                1871140     ...              -1.425140
1809034                1913437     ...               5.092591
1820584                1775713     ...             -13.340073
1931249                2047618     ...               5.141363
1951269                2028421     ...              -2.799523
2035210                2091599     ...               0.127623
2189641                2295816     ...               6.363916
2230722                2302881     ...              -7.701619
2368139                2485781     ...               0.646423
2496435                2641928     ...               7.464259
2504700                2600098     ...              -6.116225
3010232                3120180     ...               1.992772
3095313                3223645     ...               0.354751
3817117                4015328     ...               2.444413
4092459                4352462     ...               1.403957
5194675                5246731     ...              -6.399085
9818605               10045175     ...              -4.999439

               RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
CENSUS2010POP
82                  -147.727273        239.130435       -178.947368
90                     0.000000          0.000000          0.000000
286                   49.242424          7.380074        -37.453184
416                    0.000000        -57.670127        -66.825776
460                   23.133544        -55.674518          8.830022
478                   39.682540        -54.380665         36.659878
494                   42.042042         -1.970443        -38.190955
539                  -81.982841         38.948393        -50.781250
614                  -20.800000         11.254019        -20.850040
632                  -26.359143        -33.869602          6.849315
641                  -19.339243         39.968026         12.383901
647                    5.801305         -4.319654        -34.657040
662                   -6.134969        -35.686579        -14.173228
690                   25.299601         -3.913894        -34.300792
695                  -12.811388        -15.918958        -24.944974
699                   -2.873563         17.216643         21.156559
707                   43.115438         55.925433         39.490446
712                   -4.222379         27.952481        -42.372881
718                   17.894012        -44.692737         -4.297994
727                   45.760431          0.000000        -10.478062
736                  -30.240550         37.422037         -5.490734
763                    0.000000        -19.531250        -31.683168
783                  100.549798         55.767884        -29.351107
808                   26.618270        -33.128834        -13.932869
818                  -28.571429        -29.581994          2.622951
824                  -20.987654         -5.025126          7.504690
843                  -39.384615          6.226650        -44.052863
884                    5.945303         27.058824         -4.678363
929                   14.861996        -23.504274          1.085776
967                  -40.393578         16.675352        -50.420168
...                         ...               ...               ...
1229226               -3.256555         -1.212900          6.986010
1280122               -6.257252         -4.365918         -6.582935
1320134                8.675158          5.992198          8.893634
1339532               -2.597293         -1.499760         -3.003484
1385108               -9.364719         -9.762467        -12.704119
1418788               -0.434811         -0.596399          3.066772
1493350               -6.495259         -3.980963         -5.296492
1503085               -0.289758         -0.129074         -3.275822
1510271                2.488670          3.743636          4.436457
1526006               -3.595205         -6.773792         -8.654860
1585873               -5.587580        -10.136168        -13.233013
1714773                7.531302          7.395983          8.624810
1748066                5.473544          1.555403          1.178479
1781642               -1.369435         -1.015500         -3.972733
1809034                6.491618          4.793224          5.070751
1820584              -10.271616        -14.119617        -11.903253
1931249                5.472471          5.662073          3.337122
1951269                6.206036          5.494924          9.848283
2035210               -3.169611         -4.886451         -0.857214
2189641                4.925650          3.948834          5.305197
2230722               -9.309401         -7.554518        -11.787697
2368139                4.853046         -2.117265         -0.754784
2496435               -6.908149         -8.130040        -10.464276
2504700               -7.066189         -8.271203        -12.671578
3010232                0.618346         -0.491825         -2.374727
3095313                0.235513         -0.246567          0.657077
3817117                9.232973          7.879873          8.318210
4092459                3.518819          4.820913          5.243613
5194675               -5.939523         -6.011973         -9.374552
9818605               -4.071266         -4.332318         -5.394299

               RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  \
CENSUS2010POP
82                   281.407035   101.123596  -147.727273   239.130435
90                     0.000000     0.000000     0.000000     0.000000
286                   77.205882  -128.205128    45.454545     7.380074
416                  -24.420024    37.296037     9.080590   -46.136102
460                    0.000000     4.287245    23.133544   -55.674518
478                  -24.291498    12.396694    39.682540   -54.380665
494                  -29.045643   -20.366599    42.042042    -1.970443
539                  -45.081967    20.332717   -81.982841    38.948393
614                   23.790642    14.434643   -20.800000    11.254019
632                    3.412969   -20.967742   -26.359143   -33.869602
641                  -15.360983   -22.029898   -19.339243    39.968026
647                  -13.129103    46.337818     8.701958    -1.439885
662                  -44.907779   -22.848439    -4.601227   -34.134988
690                   49.479167     9.762901    27.962716    -1.304631
695                   37.818182    42.979943   -12.811388   -15.918958
699                  -22.535211   -19.928826    -2.873563    17.216643
707                   30.788177   -21.216407    44.506259    57.256991
712                   46.446165     0.000000    -4.222379    27.952481
718                   -1.435750     0.000000    17.894012   -44.692737
727                   -6.518905   -15.141087    45.760431     0.000000
736                   15.089163     6.765900   -30.240550    37.422037
763                   28.776978    -6.497726     0.000000   -19.531250
783                    0.077294    56.126482   111.140264    65.990632
808                  -32.320621    17.199017    26.618270   -33.128834
818                  -11.881188   -10.982306   -28.571429   -29.581994
824                   -1.243781     2.433090   -20.987654    -5.025126
843                   -9.003215   -20.347098   -39.384615     6.226650
884                  -27.397260   -46.430644     5.945303    27.058824
929                   -5.443658     2.152853    14.861996   -23.504274
967                   -2.145923     6.169666   -40.393578    16.675352
...                         ...          ...          ...          ...
1229226               11.012325    23.619388     2.264782     4.398898
1280122               -7.627166    -7.525767    -3.903585    -1.863540
1320134                9.957796    10.665231    14.033170    11.752520
1339532               -3.287472     1.724707     0.295753     1.668289
1385108              -10.991988    -1.182721     1.618207     1.937165
1418788                2.757133     2.530132     2.775299     2.946265
1493350               -6.339697     0.975454    -3.636545    -0.863341
1503085               -4.215144     7.071195     6.789742     7.459161
1510271                2.141452     6.535369     9.157917    10.954544
1526006               -6.799608     1.274033     1.887580    -0.995729
1585873               -9.845545     7.056032     3.454444    -0.280690
1714773                8.111171    10.352153    10.828220    10.370317
1748066                1.072196    15.871353    13.173887     9.767689

The above example is just to show that the .agg method can also take just a mathematical operation as it's argument and there is  no need of passing a dictionary as it's arguments.

In [152]:
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [153]:
df.groupby('STNAME')['CENSUS2010POP','ESTIMATESBASE2010'].agg(sum)

                      CENSUS2010POP  ESTIMATESBASE2010
STNAME
Alabama                     4779736            4780127
Alaska                       710231             710249
Arizona                     6392017            6392307
Arkansas                    2915918            2915958
California                 37253956           37254503
Colorado                    5029196            5029324
Connecticut                 3574097            3574118
Delaware                     897934             897936
District of Columbia         601723             601767
Florida                    18801310           18804623
Georgia                     9687653            9688681
Hawaii                      1360301            1360301
Idaho                       1567582            1567652
Illinois                   12830632           12831549
Indiana                     6483802            6484229
Iowa                        3046355            3046869
Kansas                      2853118            2853132
Kentucky                    4339367            4339349
Louisiana                   4533372            4533479
Maine                       1328361            1328361
Maryland                    5773552            5773785
Massachusetts               6547629            6547817
Michigan                    9883640            9884129
Minnesota                   5303925            5303925
Mississippi                 2967297            2968103
Missouri                    5988927            5988927
Montana                      989415             989417
Nebraska                    1826341            1826341
Nevada                      2700551            2700691
New Hampshire               1316470            1316466
New Jersey                  8791894            8791936
New Mexico                  2059179            2059192
New York                   19378102           19378087
North Carolina              9535483            9535692
North Dakota                 672591             672591
Ohio                       11536504           11536725
Oklahoma                    3751351            3751616
Oregon                      3831074            3831073
Pennsylvania               12702379           12702887
Rhode Island                1052567            1052931
South Carolina              4625364            4625401
South Dakota                 814180             814191
Tennessee                   6346105            6346275
Texas                      25145561           25146105
Utah                        2763885            2763888
Vermont                      625741             625745
Virginia                    7994802            8001045
Washington                  6724540            6724543
West Virginia               1852994            1853011
Wisconsin                   5686986            5687289
Wyoming                      563626             563767

The way to use groupby method is as follows,

Give the name of the field based on which you need to group the cells of the dataframe and then a list of columns which you want to consider for performing the mathematical operation, 

df.groupby('STNAME')['CENSUS2010POP','ESTIMATESBASE2010'].agg(sum)

use .agg method to give the mathematical operation that you want to perform on those columns which are grouped by a certain criteria
now since there is no mentioning of a new column name in the above code the new df will have sum of all the counties against the respective state under the two columns.

In [154]:
print(type(df.groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']))
print(type(df.groupby(level=0)['POPESTIMATE2010']))

<class 'pandas.core.groupby.DataFrameGroupBy'>
<class 'pandas.core.groupby.SeriesGroupBy'>

In [155]:
(df.set_index('STNAME').groupby(level=0)['CENSUS2010POP']
    .agg({'avg': np.average, 'sum': np.sum}))

                                avg       sum
STNAME
Alabama                71339.343284   4779736
Alaska                 24490.724138    710231
Arizona               426134.466667   6392017
Arkansas               38878.906667   2915918
California            642309.586207  37253956
Colorado               78581.187500   5029196
Connecticut           446762.125000   3574097
Delaware              299311.333333    897934
District of Columbia  601723.000000    601723
Florida               280616.567164  18801310
Georgia                60928.635220   9687653
Hawaii                272060.200000   1360301
Idaho                  35626.863636   1567582
Illinois              125790.509804  12830632
Indiana                70476.108696   6483802
Iowa                   30771.262626   3046355
Kansas                 27172.552381   2853118
Kentucky               36161.391667   4339367
Louisiana              70833.937500   4533372
Maine                  83022.562500   1328361
Maryland              240564.666667   5773552
Massachusetts         467687.785714   6547629
Michigan              119080.000000   9883640
Minnesota              60964.655172   5303925
Mississippi            36186.548780   2967297
Missouri               52077.626087   5988927
Montana                17668.125000    989415
Nebraska               19638.075269   1826341
Nevada                158855.941176   2700551
New Hampshire         131647.000000   1316470
New Jersey            418661.619048   8791894
New Mexico             62399.363636   2059179
New York              312550.032258  19378102
North Carolina         95354.830000   9535483
North Dakota           12690.396226    672591
Ohio                  131096.636364  11536504
Oklahoma               48718.844156   3751351
Oregon                106418.722222   3831074
Pennsylvania          189587.746269  12702379
Rhode Island          210513.400000   1052567
South Carolina        100551.391304   4625364
South Dakota           12336.060606    814180
Tennessee              66801.105263   6346105
Texas                  98998.271654  25145561
Utah                   95306.379310   2763885
Vermont                44695.785714    625741
Virginia               60111.293233   7994802
Washington            172424.102564   6724540
West Virginia          33690.800000   1852994
Wisconsin              78985.916667   5686986
Wyoming                24505.478261    563626

Group by method has an argument called level, which is set to 0 in the above example and level 0 means that it has to groupby based on the index of the datatframe
hence the code

(df.set_index('STNAME').groupby(level=0)['CENSUS2010POP']
    .agg({'avg': np.average, 'sum': np.sum}))
    
groups the new dataframe as per the index and considers only one column 'CENSUS2010POP' in the new dataframe

using the .agg method two more columns are created in the Df which gives the average and sum of all the counties for each state for the column 'CENSUS2010POP'

The purpose of using () at the start and end of the code is coz in python a line can exist on a number of lines if enclosed inside a pair of ()

In [156]:
(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'avg': np.average, 'sum': np.sum}))

                                 avg                             sum  \
                     POPESTIMATE2010 POPESTIMATE2011 POPESTIMATE2010
STNAME
Alabama                 71420.313433    71658.328358         4785161
Alaska                  24621.413793    24921.379310          714021
Arizona                427213.866667   431248.800000         6408208
Arkansas                38965.253333    39180.506667         2922394
California             643691.017241   650000.586207        37334079
Colorado                78878.968750    79991.875000         5048254
Connecticut            447464.625000   448719.875000         3579717
Delaware               299930.333333   302638.666667          899791
District of Columbia   605126.000000   620472.000000          605126
Florida                281341.641791   285157.208955        18849890
Georgia                 61090.905660    61712.452830         9713454
Hawaii                 272796.000000   275645.400000         1363980
Idaho                   35704.227273    36003.045455         1570986
Illinois               125894.598039   126096.882353        12841249
Indiana                 70549.891304    70835.271739         6490590
Iowa                    30815.090909    30963.525253         3050694
Kansas                  27226.895238    27332.542857         2858824
Kentucky                36232.808333    36399.016667         4347937
Louisiana               71014.859375    71490.328125         4544951
Maine                   82980.937500    83016.062500         1327695
Maryland               241183.708333   243507.125000         5788409
Massachusetts          468931.142857   472271.214286         6565036
Michigan               119004.445783   118995.048193         9877369
Minnesota               61044.862069    61472.632184         5310903
Mississippi             36223.365854    36317.060976         2970316
Missouri                52139.582609    52265.973913         5996052
Montana                 17690.053571    17816.892857          990643
Nebraska                19677.688172    19810.569892         1830025
Nevada                 159025.882353   159930.529412         2703440
New Hampshire          131670.800000   131834.400000         1316708
New Jersey             419232.428571   421092.095238         8803881
New Mexico              62567.909091    62976.545455         2064741
New York               312950.322581   314890.354839        19402920
North Carolina          95589.790000    96510.250000         9558979
North Dakota            12726.981132    12930.679245          674530
Ohio                   131145.068182   131198.204545        11540766
Oklahoma                48825.922078    49176.961039         3759596
Oregon                 106610.333333   107458.583333         3837972
Pennsylvania           189731.552239   190226.895522        12712014
Rhode Island           210643.800000   210371.200000         1053219
South Carolina         100780.304348   101581.152174         4635894
South Dakota            12368.166667    12489.227273          816299
Tennessee               66911.421053    67351.663158         6356585
Texas                   99387.255906   101001.826772        25244363
Utah                    95704.344828    97118.620690         2775426
Vermont                 44713.142857    44763.357143          625984
Virginia                60344.263158    60983.330827         8025787
Washington             172898.974359   174954.589744         6743060
West Virginia           33713.181818    33726.327273         1854225
Wisconsin               79030.611111    79301.666667         5690204
Wyoming                 24544.173913    24685.565217          564516


                     POPESTIMATE2011
STNAME
Alabama                      4801108
Alaska                        722720
Arizona                      6468732
Arkansas                     2938538
California                  37700034
Colorado                     5119480
Connecticut                  3589759
Delaware                      907916
District of Columbia          620472
Florida                     19105533
Georgia                      9812280
Hawaii                       1378227
Idaho                        1584134
Illinois                    12861882
Indiana                      6516845
Iowa                         3065389
Kansas                       2869917
Kentucky                     4367882
Louisiana                    4575381
Maine                        1328257
Maryland                     5844171
Massachusetts                6611797
Michigan                     9876589
Minnesota                    5348119
Mississippi                  2977999
Missouri                     6010587
Montana                       997746
Nebraska                     1842383
Nevada                       2718819
New Hampshire                1318344
New Jersey                   8842934
New Mexico                   2078226
New York                    19523202
North Carolina               9651025
North Dakota                  685326
Ohio                        11545442
Oklahoma                     3786626
Oregon                       3868509
Pennsylvania                12745202
Rhode Island                 1051856
South Carolina               4672733
South Dakota                  824289
Tennessee                    6398408
Texas                       25654464
Utah                         2816440
Vermont                       626687
Virginia                     8110783
Washington                   6823229
West Virginia                1854948
Wisconsin                    5709720
Wyoming                       567768

(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'avg': np.average, 'sum': np.sum}))

Here groupping is done based on the Index 'STNAME' coz level = 0

The columns under consideration for are 'POPESTIMATE2010','POPESTIMATE2011'

sum and average of each state is to calculated using gropuby

In [157]:
(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'POPESTIMATE2010': np.average, 'POPESTIMATE2011': np.sum}))

                      POPESTIMATE2011  POPESTIMATE2010
STNAME
Alabama                       4801108     71420.313433
Alaska                         722720     24621.413793
Arizona                       6468732    427213.866667
Arkansas                      2938538     38965.253333
California                   37700034    643691.017241
Colorado                      5119480     78878.968750
Connecticut                   3589759    447464.625000
Delaware                       907916    299930.333333
District of Columbia           620472    605126.000000
Florida                      19105533    281341.641791
Georgia                       9812280     61090.905660
Hawaii                        1378227    272796.000000
Idaho                         1584134     35704.227273
Illinois                     12861882    125894.598039
Indiana                       6516845     70549.891304
Iowa                          3065389     30815.090909
Kansas                        2869917     27226.895238
Kentucky                      4367882     36232.808333
Louisiana                     4575381     71014.859375
Maine                         1328257     82980.937500
Maryland                      5844171    241183.708333
Massachusetts                 6611797    468931.142857
Michigan                      9876589    119004.445783
Minnesota                     5348119     61044.862069
Mississippi                   2977999     36223.365854
Missouri                      6010587     52139.582609
Montana                        997746     17690.053571
Nebraska                      1842383     19677.688172
Nevada                        2718819    159025.882353
New Hampshire                 1318344    131670.800000
New Jersey                    8842934    419232.428571
New Mexico                    2078226     62567.909091
New York                     19523202    312950.322581
North Carolina                9651025     95589.790000
North Dakota                   685326     12726.981132
Ohio                         11545442    131145.068182
Oklahoma                      3786626     48825.922078
Oregon                        3868509    106610.333333
Pennsylvania                 12745202    189731.552239
Rhode Island                  1051856    210643.800000
South Carolina                4672733    100780.304348
South Dakota                   824289     12368.166667
Tennessee                     6398408     66911.421053
Texas                        25654464     99387.255906
Utah                          2816440     95704.344828
Vermont                        626687     44713.142857
Virginia                      8110783     60344.263158
Washington                    6823229    172898.974359
West Virginia                 1854948     33713.181818
Wisconsin                     5709720     79030.611111
Wyoming                        567768     24544.173913

(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'POPESTIMATE2010': np.average, 'POPESTIMATE2011': np.sum}))

Here the arguments of .agg method is a dictionary in which the keys are of same name as the columns considered for the operation, hence the returned Dataframe will have two columns with the same name as shown above

## Scales

Generally in DataScience we make use of 4 scales 

Ratio Scale: Units are equally spaced and mathematical operations such as +/- are all valid

    Ex: Height and weight

Interval Scale: Units are equally spaced, but there is no true Zero.
    
    Ex: Temperature and angle measured in degrees
    here temperature 0 doen't mean the absence of temperature and similarly 0 degree don't mean no angle.

Ordinal Scale: This scale is ordered but the units are not equally spaced.
    
    Ex: Grades in a college, the difference between an A grade and B grade is 15 while the difference between B grade               and c is 10

Nominal Scale: In this scale the units are not order and dont have equal interval between them.
    
    Ex: Tick boxes in a survey form asking for Gender, here the intension is to capture the data the order of Male or                 Female is irrespective

In [158]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                  index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'])
df.rename(columns={0: 'Grades'}, inplace=True)
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [159]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

In pandas there is a datatype called as category which converts a given column to category using the astype function.

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, excellent to poor
Data columns (total 1 columns):
Grades    11 non-null object
dtypes: object(1)
memory usage: 88.0+ bytes

If you want the data frame to be order in a logical sequence on the category column, then use the below code with ordered = True

In [161]:
grades = df['Grades'].astype('category',
                             categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'],
                             ordered=True)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]

In [162]:
grades > 'C'

excellent     True
excellent     True
excellent     True
good          True
good          True
good          True
ok            True
ok           False
ok           False
poor         False
poor         False
Name: Grades, dtype: bool

now the column 'Grade' of the df is ordered hence it can be considered as a Ordinal scaled data and therefore boolean masking can be performed on the column

In [163]:
s = pd.Series(['Low', 'Low', 'High', 'Medium', 'Low', 'High', 'Low'])
s

0       Low
1       Low
2      High
3    Medium
4       Low
5      High
6       Low
dtype: object

In [164]:
# Your code here
s.astype('category', categories = ['Low', 'Medium', 'High'], ordered = True).head(10)

0       Low
1       Low
2      High
3    Medium
4       Low
5      High
6       Low
dtype: category
Categories (3, object): [Low < Medium < High]

In [165]:
s < 'Medium'

0     True
1     True
2     True
3    False
4     True
5     True
6     True
dtype: bool

Variables with a Boolean value are typically dummmy variables and pandas has a built-in function called get_dummies  which will convert the values of a single column into multiple columns of 0's and 1's, indicating the presence of a dummy variable.

In [166]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df = df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg({'avg': np.average})
pd.cut(df['avg'],10)

STNAME
Alabama                  (11706.0871, 75333.413]
Alaska                   (11706.0871, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                 (11706.0871, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                  (11706.0871, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                    (11706.0871, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                  (11706.0871, 75333.413]
Iowa                     (11706.0871, 75333.413]
Kansas                   (11706.0871, 75333.413]
Kentucky                 (11706.0871, 75333.413]
Louisiana                (11706.0871, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                (11706.0871, 75333.413]
Mississippi              (11706.0871, 75333.413]
Missouri                 (11706.0871, 75333.413]
Montana                  (11706.0871, 75333.413]
Nebraska                 (11706.0871, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico               (11706.0871, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota             (11706.0871, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                 (11706.0871, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota             (11706.0871, 75333.413]
Tennessee                (11706.0871, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                  (11706.0871, 75333.413]
Virginia                 (11706.0871, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia            (11706.0871, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                  (11706.0871, 75333.413]
Name: avg, dtype: category
Categories (10, object): [(11706.0871, 75333.413] < (75333.413, 138330.766] < (138330.766, 201328.118] < (201328.118, 264325.471] ... (390320.176, 453317.529] < (453317.529, 516314.881] < (516314.881, 579312.234] < (579312.234, 642309.586]]

In [167]:
s = pd.Series([168, 180, 175.333, 190, 170, 185, 179, 181, 175, 169, 182, 177, 180, 171])
pd.cut(s,3)

0     (167.978, 175.333]
1     (175.333, 182.667]
2     (167.978, 175.333]
3         (182.667, 190]
4     (167.978, 175.333]
5         (182.667, 190]
6     (175.333, 182.667]
7     (175.333, 182.667]
8     (167.978, 175.333]
9     (167.978, 175.333]
10    (175.333, 182.667]
11    (175.333, 182.667]
12    (175.333, 182.667]
13    (167.978, 175.333]
dtype: category
Categories (3, object): [(167.978, 175.333] < (175.333, 182.667] < (182.667, 190]]

### Binning

Binning: In case of a series pandas looks into the lowest and the highest value in the series and creates bins for the lowest and highest value, the second argument for .cut method is the number of bins to be created.

The brackets [ and ] means: The number is included, This side of the interval is closed,
The parenthesis ( and ) means: The number is excluded, This side of the interval is open.

On observing the above output it can be seen that there are three bins and all the values in the series belong to one of the three bins.

## Pivot tables

In [168]:
cars_df = pd.read_csv('cars.csv')

In [169]:
cars_df.head(5)

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,n/a,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,n/a,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,n/a,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,n/a,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,n/a,117,7

In [170]:
cars_df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=np.mean)

Make    BMW  CHEVROLET   FORD   KIA  MITSUBISHI  NISSAN  SMART       TESLA
YEAR
2012    NaN        NaN    NaN   NaN        49.0    80.0    NaN         NaN
2013    NaN        NaN  107.0   NaN        49.0    80.0   35.0  280.000000
2014    NaN      104.0  107.0   NaN        49.0    80.0   35.0  268.333333
2015  125.0      104.0  107.0  81.0        49.0    80.0   35.0  320.666667
2016  125.0      104.0  107.0  81.0        49.0    80.0   35.0  409.700000

In [171]:
cars_df.pivot_table(values=['(kW)','(km)'], index='YEAR', columns='Make', aggfunc=np.mean)

       (kW)                                                              (km)  \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA    BMW
YEAR
2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN    NaN
2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000    NaN
2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333    NaN
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667  130.0
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000  130.0


Make CHEVROLET   FORD    KIA MITSUBISHI NISSAN  SMART       TESLA
YEAR
2012       NaN    NaN    NaN      100.0  117.0    NaN         NaN
2013       NaN  122.0    NaN      100.0  117.0  109.0  352.750000
2014     131.0  122.0    NaN      100.0  135.0  109.0  395.666667
2015     131.0  122.0  149.0      100.0  135.0  109.0  394.333333
2016     131.0  122.0  149.0      100.0  153.5  109.0  409.000000

import numpy as np
import pandas as pd
Bikes.pivot_table(values = ['Price','Rating'], columns = ['Manufacturer','Bike'],aggfunc = np.mean)

pivot_table take 3 arguments 'values', 'index'  and 'column' and at the end the mathematical operation which is to be performed using the argument aggfunc

In [172]:
cars_df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=[np.mean,np.min], margins=True)

       mean                                                             \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA
YEAR
2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN
2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000
2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000
All   125.0     104.0  107.0  81.0       49.0   80.0  35.0  345.478261

                   amin                                                        \
Make         All    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART  TESLA
YEAR
2012   64.500000    NaN       NaN    NaN   NaN       49.0   80.0   NaN    NaN
2013  158.444444    NaN       NaN  107.0   NaN       49.0   80.0  35.0  270.0
2014  135.000000    NaN     104.0  107.0   NaN       49.0   80.0  35.0  225.0
2015  181.428571  125.0     104.0  107.0  81.0       49.0   80.0  35.0  280.0
2016  252.263158  125.0     104.0  107.0  81.0       49.0   80.0  35.0  283.0
All   190.622642  125.0     104.0  107.0  81.0       49.0   80.0  35.0  225.0


Make   All
YEAR
2012  49.0
2013  35.0
2014  35.0
2015  35.0
2016  35.0
All   35.0

Here on using the margins = True we get a column called 'All' which has mean and min of all the vaues in that part of the pivot table respectively.

It is possible to pass any function to the aggfun , including those functions that are user defined

Assignment 3

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [194]:
import pandas as pd
import numpy as np
import re

def get_energy():
    energy = pd.read_excel('Energy Indicators.xls', sheetname = 'Energy', header = 15, skip_footer = 38)
    energy.drop(['Unnamed: 0','Unnamed: 1'], axis = 1, inplace = True)
    energy.rename(columns = {'Unnamed: 2' : 'Country', 'Renewable Electricity Production' : '% Renewable'},inplace = True)
    energy.drop(0, axis = 0, inplace = True)
    energy.replace('...', np.nan, inplace = True)

    val = '[a-zA-Z,\s]+'
    l = []
    for i in energy['Country']:
        res = re.search(val,i)
        s = res.group(0)
        l.append(s)
    energy['Country'] = l

    con_energy = energy['Energy Supply']
    con_energy *=  1000000
    energy.fillna(value = np.nan , inplace = True)
    energy.replace({"Republic of Korea": "South Korea",
                 "United States of America": "United States",
                 "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                 "China, Hong Kong Special Administrative Region": "Hong Kong",
                 "Iran ": "Iran"}, inplace = True)
    energy = energy.set_index('Country')
    return energy

def get_GDP():
    GDP = pd.read_csv('world_bank.csv',header = 4)
    GDP.rename(columns = {'Country Name' : 'Country'}, inplace = True)
    GDP.replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}, inplace = True)
    GDP.drop(GDP.columns[1:50],axis = 1,inplace = True)
    GDP = GDP.set_index('Country')
    return GDP

def get_ScimEn():
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    ScimEn = ScimEn[ScimEn['Rank'] < 16]
    ScimEn =ScimEn.set_index('Country')
    return ScimEn

def answer_one():
    energy = get_energy()
    GDP = get_GDP()
    ScimEn = get_ScimEn()
    pre = pd.merge(ScimEn, energy, how = 'inner', left_index=True, right_index=True )
    final = pd.merge(pre, GDP, how = 'inner', left_index=True, right_index=True)
    final.sort(columns = 'Rank', axis = 0, ascending=True, inplace = True)
    return final

final = answer_one()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [195]:
final

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [196]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 20 columns):
Rank                        15 non-null int64
Documents                   15 non-null int64
Citable documents           15 non-null int64
Citations                   15 non-null int64
Self-citations              15 non-null int64
Citations per document      15 non-null float64
H index                     15 non-null int64
Energy Supply               15 non-null float64
Energy Supply per capita    15 non-null float64
% Renewable                 15 non-null float64
2006                        15 non-null float64
2007                        15 non-null float64
2008                        15 non-null float64
2009                        15 non-null float64
2010                        15 non-null float64
2011                        15 non-null float64
2012                        15 non-null float64
2013                        15 non-null float64
2014                        15 non-null float64
2015                        14 non-null float64
dtypes: float64(14), int64(6)
memory usage: 2.4+ KB

Assignment 3 Question 2

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [197]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [198]:
import pandas as pd
import numpy as np
import re

def answer_two():
    energy = pd.read_excel('Energy Indicators.xls', sheetname = 'Energy', header = 15, skip_footer = 38)
    energy.drop(['Unnamed: 0','Unnamed: 1'], axis = 1, inplace = True)
    energy.rename(columns = {'Unnamed: 2' : 'Country', 'Renewable Electricity Production' : '% Renewable'},inplace = True)
    energy.drop(0, axis = 0, inplace = True)
    energy.replace('...', np.nan, inplace = True)

    val = '[a-zA-Z,\s]+'
    l = []
    for i in energy['Country']:
        res = re.search(val,i)
        s = res.group(0)
        l.append(s)
    energy['Country'] = l

    con_energy = energy['Energy Supply']
    con_energy *=  1000000
    energy.fillna(value = np.nan , inplace = True)
    energy.replace({"Republic of Korea": "South Korea",
                 "United States of America": "United States",
                 "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                 "China, Hong Kong Special Administrative Region": "Hong Kong",
                 "Iran ": "Iran"}, inplace = True)
    energy = energy.set_index('Country')

    GDP = pd.read_csv('world_bank.csv',header = 4)
    GDP.rename(columns = {'Country Name' : 'Country'}, inplace = True)
    GDP.replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}, inplace = True)
    GDP.drop(GDP.columns[1:50],axis = 1,inplace = True)
    GDP = GDP.set_index('Country')

    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    ScimEn = ScimEn[ScimEn['Rank'] < 16]
    ScimEn =ScimEn.set_index('Country')    


    s1 = set(energy.index)
    s2 = set(GDP.index)
    s3 = set(ScimEn.index)
    common_in_all = (s1.intersection(s2)).intersection(s3)
    common_in_all
    all_the_country = (s1.union(s2)).union(s3)
    all_the_country
    excluding_intersection = all_the_country - common_in_all
    excluding_intersection = list(excluding_intersection)
    return len(excluding_intersection)
    #return 156

answer_two()

292

Assignment 3 Question 3

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [271]:
def average_calc(ala_df):
    data = ala_df[['2006',
                  '2007',
                  '2008',
                  '2009',
                  '2010',
                  '2011',
                  '2012',
                  '2013',
                  '2014',
                  '2015',]]
    data.replace(np.nan, 0, inplace = True)
    return np.average(data)

avgGDP = final.apply(average_calc,axis = 1)
avgGDP = avgGDP.sort(axis=0, ascending=False, inplace = True)
avgGDP

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

In [270]:
l1 = []
for i in final.index:
    l = final.ix[i,final.columns[10:]].mean()
    l1.append(l)
final['avgGDP'] = l1
final.sort(columns = 'avgGDP',axis = 0, ascending = False, inplace = True)

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [202]:
final['avgGDP']

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [257]:
def gdpchange(ala_final):
    data1 = ala_final[['2006',
                     '2015']]
    ala_final['diff'] = data1['2015'] - data1['2006']
    return ala_final
    

num = final.apply(gdpchange, axis = 1)
a = num.ix[5,21]
a

246702696075.3999

In [ ]:
def answer_three():
    final = answer_one()
    l1 = []
    for i in final.index:
        l = final.ix[i,final.columns[10:]].mean()
        l1.append(l)
    final['avgGDP'] = l1
    final.sort(columns = 'avgGDP',axis = 0, ascending = False, inplace = True)
    return final

def answer_four():
    final1 = answer_three()
    l2 = []
    for j in final1.index:
        k = ((final1.ix[j,19]) - (final1.ix[j,10]))
        l2.append(k)
    final1['diffGDP'] = l2    
    return final1.ix[5,21]

answer_four()

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [258]:
def answer_five():
    final = answer_one()
    return final['Energy Supply per capita'].mean()

answer_five()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [259]:
def answer_six():
    Top15 = answer_one()
    max_value = Top15['% Renewable'].max()  
    hig_rene = Top15['% Renewable'].idxmax()  
    return hig_rene, max_value

answer_six()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [261]:
def answer_seven():
    Top15 = answer_one()
    sum_of_cit = Top15['Self-citations'].sum()
    Top15['ratio'] = Top15['Self-citations']/ Top15['Citations']
    max_value_cit = Top15['ratio'].max()
    max_ratio_country = Top15['ratio'].idxmax()
    return max_ratio_country,max_value_cit

answer_seven()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

('China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [262]:
def answer_eight():
    Top15 = answer_one()
    Top15['Estimate'] = Top15['Energy Supply'] / Top15['Energy Supply per capita']
    Top15.sort(columns = 'Estimate', inplace = True)
    a = Top15['Estimate'][-3]
    b = list(np.where(Top15['Estimate'] == a)[0])
    c = Top15.iloc[b]
    d = Top15.iloc[b].index.tolist()
    return d[0]

answer_eight()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [263]:
def answer_nine():
    Top15 = answer_one()
    Top15['Estimate'] = Top15['Energy Supply'] / Top15['Energy Supply per capita']
    Top15['No of citable'] = Top15['Citable documents'] / Top15['Estimate']
    result = Top15['No of citable'].corr(Top15['Energy Supply per capita'])
    return result

answer_nine()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

0.79400104354429446

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [264]:
def answer_ten():
    Top15 = answer_one()
    median_per = Top15['% Renewable'].median()
    #print(median_per)
    Top15['HighRenew'] = [1 if i >= median_per else 0 for i in Top15['% Renewable']]
    return Top15['HighRenew']#,Top15['% Renewable']

answer_ten()

C:\Users\kkv1\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64